<a href="https://colab.research.google.com/github/aomruethai/demowebsite/blob/main/week11_15Sept65.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Week11: 15 September 2022 (For & Flowchart)

## (เฉลยการบ้าน)

## (in Lab)

ฝึกเขียน flowchart จากโค้ดการบ้าน

In [ ]:
#https://drive.google.com/file/d/1-N1fK4aDnmuMGFBzi6cwPAhZzc9MCLuh/view?usp=sharing

In [ ]:
#จงเขียนโค้ดหาผลรวมตั้งแต่ 1-500
total = 0
for i in range(1, 501):
  total = total + i     #total += i

print(total)

125250

In [ ]:
#ข้อ 1.3
m1, m2, m3, m4 = eval(input("กรอกตัวเลข 4 ค่าคั่นด้วยคอมม่า "))
grade = (m1+m2+m3+m4)/4
if grade < 60:
  print("Fail")
else:
  print("Pass")

กรอกตัวเลข 4 ค่าคั่นด้วยคอมม่า 41,60,60,48
Fail

In [ ]:
#2.1
for i in range(2, 7, 2):
  print(i+1)

3
5
7

In [ ]:
for i in range(1, 5, 2):
  print(i)

0
1
2
3
4

In [ ]:
#2.2
score = [2, 4, 8, 1, 9, 3]
sum_score = 0
min_score = score[0]
max_score = score[0]
for x in score:
  print(x)
  sum_score += x
  if x < min_score:
    min_score = x
  if x > max_score:
    max_score = x

print(f'sum_score = {sum_score}')
print(f'min_score = {min_score}')
print(f'max_score = {max_score}')

2
4
8
1
9
3
sum_score = 27
min_score = 1
max_score = 9

In [ ]:
#2.3
std_info = ['Name', 'GPA']
std_data = [['Olarik', '3.5'], ['Kaveepoj', '3.9'], ['Suwichai', 3.2]]
print('=====================')
print('index', end='\t')
for i in range(len(std_info)):
  print(std_info[i], end='\t')
print('\n=====================')
total = 0
for i in range(len(std_data)):
  print(i+1, end='\t\t')
  for j in range(len(std_data[i])):
    print(std_data[i][j], end='\t')
  print()
  total = total + float(std_data[i][1])

print('=====================')
print(f'average\t\t\t{total/len(std_data):.2f}')
print('=====================')

=====================
index	Name	GPA
=====================
1		Olarik	3.5
2		Kaveepoj	3.9
3		Suwichai	3.2
=====================
average			3.53
=====================

## (การบ้าน)

In [ ]:
#เขียนโค้ดจากโจทย์และ flowchart ในนี้
#https://drive.google.com/file/d/1-N1fK4aDnmuMGFBzi6cwPAhZzc9MCLuh/view?usp=sharing
#ข้อ 11, 14, 15, 21

In [ ]:
#จงเขียนโค้ดโดยใช้ for เพื่อแสดงผลดังข้างล่าง

x-----x
-x---x-
--x-x--
---x---
--x-x--
-x---x-
x-----x

# Week11: 14 September 2022 (For Statement: Part2)

## (เฉลยการบ้าน)

In [ ]:
#เขียนโปรแกรมรับอินพุต 1 ตัวที่เป็นจำนวนเต็ม แล้วตรวจสอบว่าจำนวนนั้นเป็นจำนวนเฉพาะหรือไม่
#ถ้าเป็นให้พิมพ์ "prime number" ถ้าไม่เป็นพิมพ์ "not prime"
number = int(input('Please insert number: '))
count = 0
for i in range(1, number + 1):
  if number%i == 0:
    count = count + 1
if count == 2:
  print('prime number')
else:
  print('not prime')

Please insert number: 6
not prime

In [ ]:
#เขียนโปรแกรมรับอินพุต 2 ตัวที่เป็นสายอักขระ (str1, char1)
#ให้ตรวจสอบว่าความยาวของ char1 เท่ากับ 1 หรือไม่
#ถ้าความยาวเป็น 1 ให้ตรวจสอบว่า char1 ปรากฎที่ index ใดบ้างของ str1 แล้วพิมพ์ออกมา
#ถ้าความยาวไม่เป็น 1 ไม่ดำเนินการใดๆ
str1 = input('Please insert str1: ')
char1 = input('Please insert char1: ')
if len(char1) == 1:
  n = len(str1)
  for i in range(n):
    if str1[i] == char1:
      print(i)

Please insert str1: i love you
Please insert char1: o
3
8

In [ ]:
#เฉลย flowchart คลิก https://drive.google.com/file/d/1-N1fK4aDnmuMGFBzi6cwPAhZzc9MCLuh/view?usp=sharing

## (in Lab)
```
for + string/list/tuple/dict/set
nested for
flowchart
```

In [ ]:
#ตัวอย่าง for + string
for c in 'Python':
  print(c)

P
y
t
h
o
n

In [ ]:
st = "programming"
for i in st:
  print(i, end='  ')

p  r  o  g  r  a  m  m  i  n  g

In [ ]:
for i in range(len(st)):
  print(st[i], end='  ')

p  r  o  g  r  a  m  m  i  n  g

In [ ]:
#enumerate
s = 'Python'
for i, c in enumerate(s):
  print(i, c)

0 P
1 y
2 t
3 h
4 o
5 n

In [ ]:
#ตัวอย่าง for + list
listx = ['a', 'b', 'c']
for i in range(len(listx)):
  print(listx[i])

a
b
c

In [ ]:
for i, x in enumerate(listx):
  print(i, x)

0 a
1 b
2 c

In [ ]:
#ตัวอย่าง for + tuple
tuplex = (1, 2, 3, 4, 5)
for i in tuplex:
  print(i, end='* ')

1* 2* 3* 4* 5*

In [ ]:
for i, x in enumerate(tuplex):
  print(i, x)

0 1
1 2
2 3
3 4
4 5

In [ ]:
#ตัวอย่าง for + dictionary
dictx = {
    "firstname": "Nadh",
    "lastname": "Ditcharoen",
    "age": 40
}
print(dictx['firstname'])
print(dictx['age'])

for v in dictx.values():
  print(v)

Nadh
40
Nadh
Ditcharoen
40

In [ ]:
for k in dictx.keys():
  print(k)

firstname
lastname
age

In [ ]:
for i in dictx:
  print(i)

firstname
lastname
age

In [ ]:
#ตัวอย่าง for + set
setx = {1, 2, 3, 'a', 'b', 'c'}
for x in setx:
  print(x, end=' / ')

1 / 2 / 3 / b / c / a /

In [ ]:
list1 = []
for i in range(5):
  element = int(input())
  if element not in list1:
    list1.append(element)

print(list1)

4
1
3
4
5
[4, 1, 3, 5]

### nested for
__EX1102__ เขียนคำสังแสดงข้อความต่อไปนี้

        *
        **
        ***
        ****
        *****
        
__EX1103__ เขียนคำสั่งแสดงข้อความต่อไปนี้

        *****
        ****
        ***
        **
        *

In [ ]:
#nested for
for i in range(0, 5):
  for j in range(0, 3):
    print(i, j)

0 0
0 1
0 2
1 0
1 1
1 2
2 0
2 1
2 2
3 0
3 1
3 2
4 0
4 1
4 2

In [ ]:
#EX1102
for x in range(1, 6):
  for y in range(x):
    print('*', end='')
  print()

*
**
***
****
*****

In [ ]:
#EX1103
for x in range(5, 0, -1):
  for y in range(x):
    print('*', end='')
  print()

*****
****
***
**
*

In [ ]:
for x in range(5, 0, -1):
  for y in range(x):
    print(y, end='')
  print()

01234
0123
012
01
0

In [ ]:
for x in range(1,6):
  for y in range(x):
    print ("*",end="")
  print(x,end="")
  print()

*1
**2
***3
****4
*****5

In [ ]:
n = 15
for x in range(1,n):
  for y in range(n - x):
    print ("*",end="")

  for y in range(x * 2 - 1):
    print(x,end="")

  print()

**************1
*************222
************33333
***********4444444
**********555555555
*********66666666666
********7777777777777
*******888888888888888
******99999999999999999
*****10101010101010101010101010101010101010
****111111111111111111111111111111111111111111
***1212121212121212121212121212121212121212121212
**13131313131313131313131313131313131313131313131313
*141414141414141414141414141414141414141414141414141414

### `flowchart`

In [ ]:
#เขียนโค้ดจาก flowchart https://drive.google.com/file/d/1-N1fK4aDnmuMGFBzi6cwPAhZzc9MCLuh/view?usp=sharing

In [ ]:
for i in range(8):
  for j in range(6, -3, -1):
    print(i, j)

0 6
0 5
0 4
0 3
0 2
0 1
0 0
0 -1
0 -2
1 6
1 5
1 4
1 3
1 2
1 1
1 0
1 -1
1 -2
2 6
2 5
2 4
2 3
2 2
2 1
2 0
2 -1
2 -2
3 6
3 5
3 4
3 3
3 2
3 1
3 0
3 -1
3 -2
4 6
4 5
4 4
4 3
4 2
4 1
4 0
4 -1
4 -2
5 6
5 5
5 4
5 3
5 2
5 1
5 0
5 -1
5 -2
6 6
6 5
6 4
6 3
6 2
6 1
6 0
6 -1
6 -2
7 6
7 5
7 4
7 3
7 2
7 1
7 0
7 -1
7 -2

In [ ]:
for i in range(12, -1, -2):
  for j in range(-5, 1, 1):
    print(i, j)

12 -5
12 -4
12 -3
12 -2
12 -1
12 0
10 -5
10 -4
10 -3
10 -2
10 -1
10 0
8 -5
8 -4
8 -3
8 -2
8 -1
8 0
6 -5
6 -4
6 -3
6 -2
6 -1
6 0
4 -5
4 -4
4 -3
4 -2
4 -1
4 0
2 -5
2 -4
2 -3
2 -2
2 -1
2 0
0 -5
0 -4
0 -3
0 -2
0 -1
0 0

### โจทย์ฝึกทำเพิ่มเติม nested for

     1
    12
   123
  1234
 12345

     1
    121
   12321
  1234321
 123454321

     1
    12
   123
  1234
 12345
  1234
   123
    12
     1

     1
    121
   12321
  1234321
 123454321
  1234321
   12321
    121
     1

กรอกตัวเลข >> 9
         1
        121
       12321
      1234321
     123454321
    12345654321
   1234567654321
  123456787654321
 12345678987654321

กรอกตัวเลข 2-9: 8
        1
       121
      12321
     1234321
    123454321
   12345654321
  1234567654321
 123456787654321
  1234567654321
   12345654321
    123454321
     1234321
      12321
       121
        1

### โจทย์เกี่ยวกับ for

In [ ]:
#EX1106 เขียนคำสั่งเพื่อไล่แสดงสมาชิก ของ tuple ('Andy','Betty','Cathy','Eddy','Franky')
for a in ('Andy','Betty','Cathy','Eddy','Franky'):
  print(a)

Andy
Betty
Cathy
Eddy
Franky

In [ ]:
#EX1107 เขียนคำสั่งเพื่อไล่แสดงสมาชิก ของ list [2,4,6,8,10]

In [ ]:
#EX1108 เขียนคำสั่งเพื่อไล่แสดงสมาชิกของ list ที่ผู้ใช้กรอกใน 1 บรรทัด เช่น 1,3,4,5,6,7,9
line = eval(input())
for i in line:
  print(i)

1,3,4,5,6,7,9
1
3
4
5
6
7
9

In [ ]:
#EX1109 เขียนคำสั่งเพื่อไล่แสดงสมาชิกของ list ที่ผู้ใช้กรอกใน 2 บรรทัด
#โดยแต่ละบรรทัดมีสมาชิกหลายตัวเลขคั่นด้วย ,
a = []

#รับบรรทัดที่ 1
line = eval(input())
for i in line:
  a.append(i)

#รับบรรทัดที่ 2
line = eval(input())
for i in line:
  a.append(i)

#แสดงผล
print(a)

1,2,3,4
8,9,5
[1, 2, 3, 4, 8, 9, 5]

In [ ]:
a = []
for x in range(2):
  line = eval(input())
  for i in line:
    a.append(i)

#แสดงผล
print(a)

1,5,6,8
8,9,7
[1, 5, 6, 8, 8, 9, 7]

In [ ]:
#EX1110 เขียนคำสั่งเพื่อไล่แสดงสมาชิกของ list ที่ผู้ใช้กรอกใน n บรรทัด
#โดยแต่ละบรรทัดมีสมาชิกหลายตัวเลขคั่นด้วย ,

In [ ]:
#EX1111 เขียนคำสั่งเพื่อเก็บข้อมูลนักศึกษา 10 คน เป็น dictionary
#โดยให้ผู้ใช้กรอก ชื่อ และ อายุ เป็นข้อมูลของนักศึกษาแต่ละคน

d = {}
for i in range(3):
  name = input('ชื่อ-สกุล :')
  age = int(input('อายุ :'))
  d[name] = age

print(d)

ชื่อ-สกุล :aaa
อายุ :20
ชื่อ-สกุล :bbb
อายุ :1
ชื่อ-สกุล :cc
อายุ :3
{'aaa': 20, 'bbb': 1, 'cc': 3}

## (การบ้าน)

In [ ]:
#EX1112 เขียนคำสั่งเพื่อเก็บข้อมูลนักศึกษา n คน ตามที่ผู้ใช้ระบุ เป็น dictionary
#โดยข้อมูลของนักศึกษาแต่ละคนมี อายุ, เกรดเฉลี่ย และ email โดยให้ใช้ email เป็น key

#dict1 = {'email':[อายุ,เกรดเฉลี่ย], 'email2':[อายุ2,เกรดเฉลี่ย2]}
#20,3.5,nadh@mail.com

# Week10: 8 September 2022 (For Statement)

## (เฉลยการบ้าน)

In [ ]:
#อยู่ด้านล่างใน Week09

## (in Lab)
## คำสั่งทำซ้ำ `for`

## จุดประสงค์รายสัปดาห์

1. ระบุข้อแตกต่างระหว่างการทำซ้ำแบบ for และ while ได้
2. ใช้คำสั่ง for เพื่อไล่แสดงสมาชิกของ tuple, list และ dict ได้
3. เขียนโปรแกรมแก้ปัญหาโดยใช้การทำซ้ำและ nested loop ได้

ในการเขียนโปรแกรมโดยส่วนใหญ่จำเป็นต้องเขียนคำสั่งเพื่อทำงานเดิมซ้ำกันหลายๆครั้ง การใช้คำสั่งทำซ้ำวนไปหลายๆรอบนั้นเรียกว่า Loop

การใช้คำสั่ง Loop มีสองแบบได้แก่

1. แบบที่รู้จำนวนครั้งในการทำซ้ำแน่นอน เรียกว่า definite loop
2. แบบที่ไม่รู้จำนวนครั้งในการทำซ้ำ เรียกว่า indefinite loop จำเป็นต้องตั้งเงื่อนไขในการทำงาน ถ้าเงื่อนไขในการทำงานเป็นเท็จก็จะหยุดทำงาน

โดยปกติแล้วถ้าเป็นรู้จำนวนครั้งที่ต้องทำงานซ้ำแน่นอนจะใช้คำสั่ง `for` แต่ถ้าไม่รู้จำนวนครั้งที่แน่นอนต้องใช้เงื่อนไขตรวจสอบการทำงานจะใช้คำสั่ง `while`

เนื้อหาสัปดาห์นี้จะเน้น การใช้งานคำสั่ง `for`

In [ ]:
for i in range(3):
  print('Aj Nadh')

Aj Nadh
Aj Nadh
Aj Nadh

In [ ]:
for i in (1,2,3,4):
  print(i)

1
2
3
4

In [ ]:
b = ['a', 'b', 1, 2, 3]
for x in b:
  print(x)

a
b
1
2
3

In [ ]:
for a in range(0, 5):
  print(a)

0
1
2
3
4

In [ ]:
for b in range(1, 10, 2):
  print(b)

1
3
5
7
9

In [ ]:
for c in range(50, 2, -5):
  print(c, end='  ')

50  45  40  35  30  25  20  15  10  5

### คำสั่งทำซ้ำ `n` ครั้ง

```python
for i in range(n):
    print(i)
```

## <i class="fa fa-question-circle" aria-hidden="true"></i> Exercises

__EX1101__ เขียนคำสั่งแสดงข้อความ `hello` ทั้งหมด `10` บรรทัด

__EX1104__ เขียนคำสั่งเพื่อรับตัวเลข `10` ตัวจากผู้ใช้ มาเก็บไว้ใน list ชื่อ `a`

__EX1105__ เขียนคำสั่งเพื่อรับตัวเลข `n` ตัวจากผู้ใช้ มาเก็บไว้ใน list ชื่อ `a` โดยให้ผู้ใช้ระบุ ค่า `n`

In [ ]:
#EX1104
a = []
for i in range(10):
  num = int(input())
  a.append(num)

print(a)

1
5
8
7
5
4
4
1
1
0
[1, 5, 8, 7, 5, 4, 4, 1, 1, 0]

In [ ]:
n = int(input())
a = []
for i in range(n):
  x = input()
  a.append(x)

print(a)

3
a
b
5
['a', 'b', '5']

### ให้เขียน flowchart ของ `for`

In [ ]:
for i in range(10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
for i in range(0, 10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
for i in range(1, 10):
  print(i)

1
2
3
4
5
6
7
8
9

In [ ]:
for i in range(3, 11):
  print(i)

3
4
5
6
7
8
9
10

In [ ]:
for i in range(-2, 8):
  print(i)

In [ ]:
for i in range(-7, 1):
  print(i)

In [ ]:
for i in range(-11, -5):
  print(i)

In [ ]:
for i in range(0, 11, 2):
  print(i)

In [ ]:
for i in range(3, 14, 3):
  print(i)

In [ ]:
for i in range(-15, 4, 4):
  print(i)

In [ ]:
for i in range(10, 2, -1):
  print(i)

10
9
8
7
6
5
4
3

### ให้เขียนโค้ดจาก flowchart โดยใช้ `for`

In [ ]:
#https://app.diagrams.net/#G1h8oVjv93XCw7UoFpCyz5hWCfBBeISniR

In [ ]:
for i in range(10, -1, -1):
  print(i)

10
9
8
7
6
5
4
3
2
1
0

In [ ]:
for i in range(15, -4, -5):
  print(i)

15
10
5
0

### ฝึกเขียนโค้ดจากโจทย์

In [ ]:
#เขียนโปรแกรมพิมพ์ค่า 0, 1, 2, ..., 19 โดยใช้ for
for i in range(20):
  print(i, end=' ')

0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19

In [ ]:
#เขียนโปรแกรมพิมพ์ค่า 19, 18, 17, ..., 0 โดยใช้ for
for i in range(19, -1, -1):
  print(i, end='  ')

19  18  17  16  15  14  13  12  11  10  9  8  7  6  5  4  3  2  1  0

In [ ]:
#เขียนโปรแกรมพิมพ์ค่า -3, -2, -1, 0, ..., 9 โดยใช้ for
for i in range(-3, 10):
  print(i, end='  ')

-3  -2  -1  0  1  2  3  4  5  6  7  8  9

In [ ]:
#เขียนโปรแกรมหาค่าผลรวมเลขคี่ตั้งแต่ 100-500 โดยใช้ for
sumi = 0
for i in range(101, 501, 2):
  print(i, end=' ')
  sumi = sumi + i

print()
print(f'{sumi:,.2f}')

101 103 105 107 109 111 113 115 117 119 121 123 125 127 129 131 133 135 137 139 141 143 145 147 149 151 153 155 157 159 161 163 165 167 169 171 173 175 177 179 181 183 185 187 189 191 193 195 197 199 201 203 205 207 209 211 213 215 217 219 221 223 225 227 229 231 233 235 237 239 241 243 245 247 249 251 253 255 257 259 261 263 265 267 269 271 273 275 277 279 281 283 285 287 289 291 293 295 297 299 301 303 305 307 309 311 313 315 317 319 321 323 325 327 329 331 333 335 337 339 341 343 345 347 349 351 353 355 357 359 361 363 365 367 369 371 373 375 377 379 381 383 385 387 389 391 393 395 397 399 401 403 405 407 409 411 413 415 417 419 421 423 425 427 429 431 433 435 437 439 441 443 445 447 449 451 453 455 457 459 461 463 465 467 469 471 473 475 477 479 481 483 485 487 489 491 493 495 497 499
60,000.00

In [ ]:
for i in range(100, 501):
  if i%2>0:
    print(i, end=' ')

101 103 105 107 109 111 113 115 117 119 121 123 125 127 129 131 133 135 137 139 141 143 145 147 149 151 153 155 157 159 161 163 165 167 169 171 173 175 177 179 181 183 185 187 189 191 193 195 197 199 201 203 205 207 209 211 213 215 217 219 221 223 225 227 229 231 233 235 237 239 241 243 245 247 249 251 253 255 257 259 261 263 265 267 269 271 273 275 277 279 281 283 285 287 289 291 293 295 297 299 301 303 305 307 309 311 313 315 317 319 321 323 325 327 329 331 333 335 337 339 341 343 345 347 349 351 353 355 357 359 361 363 365 367 369 371 373 375 377 379 381 383 385 387 389 391 393 395 397 399 401 403 405 407 409 411 413 415 417 419 421 423 425 427 429 431 433 435 437 439 441 443 445 447 449 451 453 455 457 459 461 463 465 467 469 471 473 475 477 479 481 483 485 487 489 491 493 495 497 499

In [ ]:
#เขียนโปรแกรมรับค่า n แล้วคำนวณหาค่า 1+2+3+...+n โดยใช้ for
n = int(input())
sum = 0
for i in range(1, n+1):
  print(i, end='  ')
  sum += i

print()
print(sum)

9
1  2  3  4  5  6  7  8  9
45

In [ ]:
#เขียนโปรแกรมพิมพ์จำนวนที่หารด้วย 3 หรือ 5 ลงตัวเพียงตัวใดตัวหนึ่งซึ่งอยู่ระหว่าง 0-100 โดยใช้ for
for i in range(0, 101):
  #print(i, end=' ')
  if (i%3==0) or (i%5==0)   :
    print(i, end=' ')

0 3 5 6 9 10 12 15 18 20 21 24 25 27 30 33 35 36 39 40 42 45 48 50 51 54 55 57 60 63 65 66 69 70 72 75 78 80 81 84 85 87 90 93 95 96 99 100

In [ ]:
#เขียนโปรแกรมรับอินพุต 5 ตัวที่เป็นสายอักขระโดยใช้ for
#จากนั้นนับความยาวรวมของสายอักขระที่รับเข้ามาและพิมพ์ออกมา
sum = 0
for i in range(5):
  n = len(input())
  sum = sum + n

print(sum)

i lov
i lo
lo
nk
pp
15

## (การบ้าน)


*   เขียนโค้ดจากโจทย์ 2 ข้อ
*   เขียน flowchart จากโจทย์ 2 ข้อ

In [ ]:
#เขียนโปรแกรมรับอินพุต 1 ตัวที่เป็นจำนวนเต็ม แล้วตรวจสอบว่าจำนวนั้นเป็นจำนวนเฉพาะหรือไม่
#ถ้าเป็นให้พิมพ์ "prime number" ถ้าไม่เป็นพิมพ์ "not prime"

In [ ]:
#เขียนโปรแกรมรับอินพุต 2 ตัวที่เป็นสายอักขระ (str1, char1)
#ให้ตรวจสอบว่าความยาวของ char1 เท่ากับ 1 หรือไม่
#ถ้าความยาวเป็น 1 ให้ตรวจสอบว่า char1 ปรากฎที่ index ใดบ้างของ str1 แล้วพิมพ์ออกมา
#ถ้าความยาวไม่เป็น 1 ไม่ดำเนินการใดๆ

In [ ]:
#flowchart: โปรแกรมพิมพ์จำนวนที่หารด้วย 3 หรือ 5 ลงตัวเพียงตัวใดตัวหนึ่งซึ่งอยู่ระหว่าง 0-100 โดยใช้ for
for i in range(0, 101):
  if (i%3==0) or (i%5==0)   :
    print(i, end=' ')

0 3 5 6 9 10 12 15 18 20 21 24 25 27 30 33 35 36 39 40 42 45 48 50 51 54 55 57 60 63 65 66 69 70 72 75 78 80 81 84 85 87 90 93 95 96 99 100

In [ ]:
#flowchart: โปรแกรมรับค่า n แล้วคำนวณหาค่า 1+2+3+...+n โดยใช้ for
n = int(input())
sum = 0
for i in range(1, n+1):
  print(i, end='  ')
  sum += i

print()
print(sum)

5
1  2  3  4  5
15

# Week10: 7 September 2022 (Midterm #2)

# Week09: 1 September 2022 (Conditional Statement: if)

## (เฉลยการบ้าน)

In [ ]:
#EX0901
#จงเขียนโปรแกรมเพื่อรับข้อมูลของนักศึกษาชั้นปีที่หนึ่งของหลักสูตรหนึ่งเพื่อเรียงลำดับตามเกรดเฉลี่ย
#step 1 - เขียนรับค่าก่อน ซึ่งเก็บลง list1
#step 2 - สร้างลิสต์มาอีกตัวเพื่อเก็บ list1 (ตั้งชื่อ list2)
#step 3 - เรียงลำดับ list2 ด้วย itemgetter
#step 4 - แสดงผลที่เรียงแล้ว

In [ ]:
#EX0902
#โปรแกรมเมอร์คนหนึ่งต้องการเขียนโปรแกรมเพื่อนับคำในเอกสารภาษาอังกฤษแผ่นหนึ่ง
#ซึ่งประกอบไปด้วย หลายประโยค แต่ละประโยคมีหลายคำ
#เงื่อนไขการนำคำให้ถือว่าตัวพิมพ์ใหญ่หรือตัวพิมพ์เล็กเป็นคำเดียวกัน เช่น Once และ once ถือเป็นคำเดียว
#step 1 - เขียนรับค่าเก็บลง list1
#step 2 - วนค่าใน list1 เก็บลง set
#step 3 - หาขนาดของ set

In [ ]:
#EX0903
#โปรแกรมเมอร์คนหนึ่งต้องการเขียนโปรแกรมเพื่อนับความถี่ของคำในเอกสารภาษาอังกฤษแผ่นหนึ่ง
#ซึ่งประกอบไปด้วย หลายประโยค แต่ละประโยคมีหลายคำ
#เงื่อนไขการนำคำให้ถือว่าตัวพิมพ์ใหญ่หรือตัวพิมพ์เล็กเป็นคำเดียวกัน เช่น Once และ once ถือเป็นคำเดียว
#step 1 - รับค่าแล้ว split ด้วยช่องว่าง (จะได้ตัวแปรที่เป็น list)
#step 2 - วนลูปใน list เก็บลง dict โดยให้ key เป็นคำและ value เป็นจำนวนคำนั้น
#step 3 - แสดงผล dict

## (in Lab)

### if..else.. (flowchart-code) vs (code-flowchart)

In [ ]:
name = input()
if name=='John':
  print('hi John')

print('Nice to meet you')

Jame
Nice to meet you

In [ ]:
score = int(input())
if score>=50:
  print('Pass')
else:
  print('Fail')

43
Fail

In [ ]:
name = input()
if name=='Alan Turing':
  print('Oh God')
elif name=='Isac Newton':
  print('OMG!')

print('Glad to see you')

Nadh Ditcharoen
Glad to see you

In [ ]:
name = input()

if name=='Gift':
  print('I miss you')
elif name=='Cherry':
  print('I love you')
elif name=='Wine':
  print('I need you')
else:
  print('Leave me alone')

Nadh
Leave me alone

In [ ]:
#ข้อ 16
if condition1:
  operation1
  if condition2:
    operation2
  elif condition3:
    operation3
  else:
    operation4
else:
  if condition4:
    operation5
  elif condition5:
    operation6
  operation7
operation8

In [ ]:
#ข้อ 18
if condition1:
  operation1
  if condition2:
    operation2
  else:
    operation3

operation4
operation5

### if..else.. (problem)

In [ ]:
#EX1001 - Grraderr

In [ ]:
#EX1002 - GPAS
grade = input().split(',')
print(grade)

a, b, c, d
['a', ' b', ' c', ' d']

In [ ]:
num = input().split(',')
print(num)
inum = []
for i in num:
  inum.append(float(i))

print(inum)

1,2,3.5,6
['1', '2', '3.5', '6']
[1.0, 2.0, 3.5, 6.0]

In [ ]:
#เขียนโปรแกรมรับอินพุต 1 ตัวที่เป็นปี ค.ศ. และตรวจสอบว่า จำนวนที่รับมามีค่ามากกว่าหรือเท่ากับ 0 หรือไม่
#   -ถ้ามีค่ามากกว่าหรือเท่ากับ 0 ให้คำนวณปี พ.ศ. แล้วพิมพ์ค่าออกมา
#   -ถ้ามีค่าน้อยกว่า 0 ให้พิมพ์ "กรุณากรอกข้อมูลที่มากกว่าหรือเท่ากับ 0"

x = int(input())
if x>=0:
  print(x+543)
else:
  print('กรุณากรอกข้อมูลที่มากกว่าหรือเท่ากับ 0')

2022
2565

In [ ]:
#เขียนโปรแกรมรับอินพุต 2 ตัวที่เป็นจำนวนจริง และตรวจสอบว่า จำนวนที่รับมาตัวใดมีค่ามากกว่า
#และพิมพ์จำนวนนั้นออกมา แต่ถ้าจำนวนทั้งสองมีค่าเท่ากัน ให้พิมพ์ "มีค่าเท่ากัน"
num1 = float(input())
num2 = float(input())
if num1>num2:
  print(num1)
elif num2>num1:
  print(num2)
else:
  print('มีค่าเท่ากัน')

9
9
มีค่าเท่ากัน

In [ ]:
num1, num2 = eval(input())
if num1>num2:
  print(num1)
elif num2>num1:
  print(num2)
else:
  print('มีค่าเท่ากัน')

5,9.5
9.5

In [ ]:
#เขียนโปรแกรมสุ่มตัวเลขมาสร้างโจทย์บวกกัน
import random
num1 = random.randint(0, 10)
num2 = random.randint(0, 10)

question = str(num1) + ' + ' + str(num2) + ' = ?  '
ans = int(input(question))
if ans == (num1+num2):
  print('ถูกต้อง')
else:
  print('เป็นคำตอบที่ผิด')

5 + 8 = ?  18
เป็นคำตอบที่ผิด

In [ ]:
#เขียนโปรแกรมสุ่มตัวเลขมาสร้างโจทย์ลบกัน โดยถ้าตัวแรกน้อยกว่าตัวที่สองให้สลับ
import random
num1 = random.randint(0, 10)
num2 = random.randint(0, 10)

if num1<num2:
  #สลับ
  temp = num1
  num1 = num2
  num2 = temp

question = str(num1) + ' - ' + str(num2) + ' = ?  '
ans = int(input(question))
if ans == (num1-num2):
  print('ถูกต้อง')
else:
  print('เป็นคำตอบที่ผิด')

4 - 2 = ?  2
ถูกต้อง

In [ ]:
#เขียนโปรแกรมรับอินพุต 1 ตัวที่เป็นจำนวนเต็ม และตรวจสอบว่าจำนวนที่รับมาหารด้วย 3 และ 5 ลงตัวหรือไม่
#   -ถ้าลงตัวให้พิมพ์ "หารด้วย 3 และ 5 ลงตัว"
#   -ถ้าไม่ลงตัวให้พิมพ์ "หารด้วย 3 และ 5 ไม่ลงตัว"
num = int(input())
if (num%3==0) and (num%5==0):
  print('หารด้วย 3 และ 5 ลงตัว')
else:
  print('หารด้วย 3 และ 5 ไม่ลงตัว')

11
หารด้วย 3 และ 5 ไม่ลงตัว

In [ ]:
#เขียนโปรแกรมรับอินพุต 3 ตัวที่เป็นจำนวนจริง และตรวจสอบว่าผลบวกของจำนวนที่หนึ่งและจำนวนที่สอง
#มากกว่าจำนวนที่สามหรือไม่
#   -ถ้ามากกว่า ให้พิมพ์ "a+b > c"
#   -ถ้าไม่มากกว่า ไม่ดำเนินการใดๆ
a, b, c = eval(input())
if a+b>c:
  print('a+b > c')

4,5,6
a+b > c

In [ ]:
#คุณเป็นโปรแกรมเมอร์ที่ห้างสรรพสินค้าแห่งหนึ่ง คุณได้รับมอบหมายให้เขียนโปรแกรมรายละเอียดดังนี้
#   -รับอินพุต 2 ตัวที่เป็นจำนวนเต็ม (hour, minute) เพื่อคำนวณค่าจอดรถ
#   -โดยชั่วโมงแรกจอดฟรี หลังจากนั้นเสียค่าจอดชั่วโมงละ 30 บาท
#   -เศษของชั่วโมงนับเป็น 1 ชั่วโมง จากนั้นให้พิมพ์ค่าจอดรถออกมา
#   -แต่ถ้าผู้ใช้ป้อนอินพุตตัวใดตัวหนึ่งหรือทั้งสองตัวเป็นจำนวนเต็มลบ ให้พิมพ์ "ท่านกรอกข้อมูลติดลบ" และไม่ต้องคำนวณค่าจอดรถ

#hour, min = eval(input())
hour = int(input('กรอกจำนวนชั่วโมง :'))
minute = int(input('กรอกจำนวนนาที :'))

if (hour<0) or (minute<0):
  print('ท่านกรอกข้อมูลติดลบ')
else:
  total_min = hour*60+minute
  total_min = total_min - 60
  if total_min > 0:
    h = total_min//60
    m = total_min%60
    if m>0:
      h = h+1
    print(f'ต้องจ่ายค่าจอดรถ {h*30} บาท')

กรอกจำนวนชั่วโมง :1
กรอกจำนวนนาที :2
ต้องจ่ายค่าจอดรถ 30 บาท

## (การบ้าน) - เฉลย

In [ ]:
#เฉลยการบ้าน
#คุณเป็นโปรแกรมเมอร์ที่ห้างสรรพสินค้าแห่งหนึ่ง คุณได้รับมอบหมายให้เขียนโปรแกรมคำนวณค่าจอดรถรายละเอียดดังนี้
#รับอินพุต 3 ตัวที่เป็นจำนวนเต็ม (bill, hour, minute) คำนวณค่าจอดรถ ตามเงื่อนไขดังนี้
#   -ถ้า bill >= 1,000 จะจอดรถฟรี 4 ชั่วโมง หลังจากนั้นเสียค่าจอดชั่วโมงละ 30 บาท
#   -ถ้า bill < 1,000 จะจอดรถฟรี 1 ชั่วโมง หลังจากนั้นเสียค่าจอดชั่วโมงละ 30 บาท
#   -เศษของชั่วโมงนับเป็น 1 ชั่วโมง จากนั้นให้พิมพ์ค่าจอดรถออกมา
bill = int(input('Please insert bill: '))
hour = int(input('Please insert hour: '))
minute = int(input('Please insert minute: '))
if minute > 0:
  hour = hour + 1
if bill >= 1000:
  fee = (hour - 4)*30
  if fee < 0:
    fee = 0
else:
  fee = (hour - 1)*30
print(fee)

Please insert bill: 1500
Please insert hour: 5
Please insert minute: 15
60

In [ ]:
#เฉลยการบ้าน
#คุณเป็นฟิตเนสเทรนเนอร์ในยิมแห่งหนึ่ง ในแต่ละวันมีคนมาขอปรึกษาเบื้องต้นเกี่ยวกับการดูแลรูปร่างกับคุณมากมาย
#คุณหมดเวลาไปกับการให้คำปรึกษาและรู้สึกเหนื่อย โชคดีที่คุณมีความรู้ในการเขียนโปรแกรม คุณจึงวางแผนที่จะสร้าง
#ระบบอัตโนมัติเพื่อให้คำปรึกษาเบื้องต้นกับลูกค้าที่มาใช้บริการยิม ซึ่งมีรายละเอียดดังนี้
#    -รับอินพุต 3 ตัวที่เป็นสายอักขระ, จำนวนจริง, และจำนวนเต็ม (gender, weight, height) โดยมีเงื่อนไขดังนี้
#    -ถ้าเป็นเพศชาย ให้พิจารณาว่าน้ำหนัก (กิโลกรัม) มากกว่าส่วนสูง (เซนติเมตร) - 100 หรือไม่
#        -ถ้ามากกว่า ให้พิมพ์ "ควรออกกำลังกาย"
#        -ถ้าไม่มากกว่า ให้พิมพ์ "คุณผู้ชายหุ่นดีเยี่ยม"
#    -ถ้าเป็นเพศหญิง ให้พิจารณาว่าน้ำหนัก (กิโลกรัม) มากกว่าส่วนสูง (เซนติเมตร) - 110 หรือไม่
#        -ถ้ามากกว่า ให้พิมพ์ "ควรออกกำลังกาย"
#        -ถ้าไม่มากกว่า ให้พิมพ์ "คุณผู้หญิงหุ่นดีเยี่ยม"
gender = input('Please insert gender: ')
weight = float(input('Please insert weight(kg): '))
height = int(input('Please insert height(cm): '))
if gender == 'ชาย':
  if height - 100 >= weight:
    print('คุณผู้ชายหุ่นดีเยี่ยม')
  else:
    print('ควรออกกำลังกาย')
elif gender == 'หญิง':
  if height - 110 >= weight:
    print('คุณผู้หญิงหุ่นดีเยี่ยม')
  else:
    print('ควรออกกำลังกาย')

In [ ]:
#เฉลยการบ้าน
#คุณเป็นโปรแกรมเมอร์ในร้ายขายของจิปาถะแห่งหนึ่ง ร้านแห่งนี้มีระบบสมาชิก
#ซึ่งผู้เป็นสมาชิกจะได้รับส่วนลดพิเศษ คุณจึงเขียนโปรแกรมซึ่งมีรายละเอียดดังนี้
#รับอินพุต 2 ตัวที่เป็นสายอักขระ และจำนวนจริง (isMember, bill) แล้วคำนวณส่วนลดจาก
#การเป็นสมาชิกและพิมพ์ออกมา ตามเงื่อนไขต่อไปนี้
#  -ถ้า isMember เท่ากับ "yes" ให้พิจารณา bill
#    -ถ้า bill มากกว่าหรือเท่ากับ 500 จะได้รับส่วนลด 5%
#    -ถ้า bill มากกว่าหรือเท่ากับ 1,000 จะได้รับส่วนลด 10%
#    -ถ้า bill มากกว่าหรือเท่ากับ 5,000 จะได้รับส่วนลด 15%
#  -ถ้า isMember เท่ากับ "no" จะไม่ได้รับส่วนลด

isMember = input('Member (yes/no) ?: ')
bill = float(input('Enter bill: '))
if isMember == 'yes':
  if bill >= 5000:
    discount = bill*0.15
  elif bill >= 1000:
    discount = bill*0.10
  elif bill >= 500:
    discount = bill*0.05
  else:
    discount = 0
else:
  discount = 0

print(discount)

# Week09: 31 August 2022 (Data Types & Data Structure: Set, Dict)

## (เฉลยการบ้าน)

In [ ]:
#ดูใน Week08: 24 August 2022

## (in lab)

### ทบทวน list

*  การสร้าง ใช้ [] หรือ list()
*  การเพิ่ม ด้วย append
*  การเพิ่ม ด้วย extend
*  การเพิ่ม ด้วย insert
*  การลบ ด้วย del หรือ remove
*  การลบ ด้วย clear
*  การเรียงลำดับ ด้วย sort()
*  การเรียงลำดับ ด้วย import itemgetter
*  การค้นหาในลำดับ ด้วย in

In [ ]:
a = []
b = list()
c = [1, 2, 'b']
d = list(range(1, 10, 2))
print(d)

[1, 3, 5, 7, 9]

In [ ]:
d.append(10)
print(d)

[1, 3, 5, 7, 9, 10]

In [ ]:
d.extend([9,9,9])
print(d)

[1, 3, 5, 7, 9, 10, 9, 9, 9]

In [ ]:
d.insert(4, 11)
print(d)

[1, 3, 5, 7, 11, 9, 10, 9, 9, 9]

In [ ]:
del d[2]
print(d)

[1, 3, 7, 11, 9, 10, 9, 9, 9]

In [ ]:
d.remove(11)
print(d)

[1, 3, 7, 9, 10, 9, 9, 9]

In [ ]:
d.clear()
print(d)

[]

In [ ]:
students = [
    [ 'Andy', 3.34, 20],
    [ 'Cathy', 2.23, 19],
    [ 'Betty', 3.55, 21],
    [ 'Dorothy', 3.10, 20]
]

for i in students:
  for j in i:
    print(j)

Andy
3.34
20
Cathy
2.23
19
Betty
3.55
21
Dorothy
3.1
20

In [ ]:
from operator import itemgetter
students.sort(key=itemgetter(1))
#print(students)
for i in students:
  print(i)

['Cathy', 2.23, 19]
['Dorothy', 3.1, 20]
['Andy', 3.34, 20]
['Betty', 3.55, 21]

### ฝึกทำโจทย์ - list

In [ ]:
#EX0901
#จงเขียนโปรแกรมเพื่อรับข้อมูลของนักศึกษาชั้นปีที่หนึ่งของหลักสูตรหนึ่งเพื่อเรียงลำดับตามเกรดเฉลี่ย
#step 1 - เขียนรับค่าก่อน ซึ่งเก็บลง list1
#step 2 - สร้างลิสต์มาอีกตัวเพื่อเก็บ list1 (ตั้งชื่อ list2)
#step 3 - เรียงลำดับ list2 ด้วย itemgetter
#step 4 - แสดงผลที่เรียงแล้ว

### Set (Non-sequence Collection)

*   การสร้าง ด้วย {}  หรือ set()
*   การเข้าถึงสมาชิก ด้วย for
*   การเพิ่ม ด้วย add, union
*   การลบ ด้วย remove, discard, difference

In [ ]:
a = {1, 2, 3, 4, 5, 5, 7}
b = set()
c = {}  #dict

In [ ]:
for i in a:
  print(i)


print(len(a))

1
2
3
4
5
7
6

In [ ]:
b.add('aa')
print(b)
b.add('cc')
print(b)

{'aa'}
{'cc', 'aa'}

In [ ]:
d = b.union({'dd', 'ee'})
print(d)

{'dd', 'cc', 'ee', 'aa'}

### ฝึกทำโจทย์เกี่ยวกับ set

In [ ]:
#EX0902
#โปรแกรมเมอร์คนหนึ่งต้องการเขียนโปรแกรมเพื่อนับคำในเอกสารภาษาอังกฤษแผ่นหนึ่ง
#ซึ่งประกอบไปด้วย หลายประโยค แต่ละประโยคมีหลายคำ
#เงื่อนไขการนำคำให้ถือว่าตัวพิมพ์ใหญ่หรือตัวพิมพ์เล็กเป็นคำเดียวกัน เช่น Once และ once ถือเป็นคำเดียว
#step 1 - เขียนรับค่าเก็บลง list1
#step 2 - วนค่าใน list1 เก็บลง set
#step 3 - หาขนาดของ set

### Dict (Non-sequence Collection)

*   การสร้าง ด้วย {}  หรือ dict()
*   การแสดงรายการ key, value
*   การเข้าถึงสมาชิก ด้วย for
*   การเพิ่มค่า
*   การตรวจสอบ key, value

In [ ]:
a = {}
b = dict()
ages = {
    'a': 20,
    'b': 15,
    'c': 30
}
print(len(ages))

3

In [ ]:
print(ages.keys())
print(ages.values())

dict_keys(['a', 'b', 'c'])
dict_values([20, 15, 30])

In [ ]:
for i in ages:
  print(i)

a
b
c

In [ ]:
for i in ages.keys():
  print(i)

a
b
c

In [ ]:
print(ages['b'])

15

In [ ]:
ages['b'] = 40

In [ ]:
for i in ages:
  print(f'คุณ {i} อายุ {ages[i]}')

คุณ a อายุ 20
คุณ b อายุ 40
คุณ c อายุ 30

In [ ]:
print('d' in ages)

False

In [ ]:
print(25 in ages.values())

False

### ฝึกทำโจทย์เกี่ยวกับ dict

In [ ]:
#EX0903
#โปรแกรมเมอร์คนหนึ่งต้องการเขียนโปรแกรมเพื่อนับความถี่ของคำในเอกสารภาษาอังกฤษแผ่นหนึ่ง
#ซึ่งประกอบไปด้วย หลายประโยค แต่ละประโยคมีหลายคำ
#เงื่อนไขการนำคำให้ถือว่าตัวพิมพ์ใหญ่หรือตัวพิมพ์เล็กเป็นคำเดียวกัน เช่น Once และ once ถือเป็นคำเดียว
#step 1 - รับค่าแล้ว split ด้วยช่องว่าง (จะได้ตัวแปรที่เป็น list)
#step 2 - วนลูปใน list เก็บลง dict โดยให้ key เป็นคำและ value เป็นจำนวนคำนั้น
#step 3 - แสดงผล dict

## (การบ้าน) โจทย์ฝึกปฏิบัติ (ทำในชั่วโมง ให้ได้มากที่สุดเท่าที่จะทำได้)

### {set}

In [ ]:
#จงเขียนโปรแกรมสร้าง set ที่มีสมาชิกเป็น 1, 2, 3, 'i', 'ii', 'iii'
#จากนั้นให้พิมพ์ค่าและชนิดข้อมูลของ set ที่สร้างออกมา
s = {1, 2, 3, 'i', 'ii', 'iii'}
print(s)

{1, 2, 3, 'iii', 'i', 'ii'}

In [ ]:
#กำหนดให้ set1 = {1, 2, 3, 'i', 'ii', 'iii'}
#จงเขียนโปรแกรมเพื่อพิมพ์สมาชิกทุกตัวใน set1 ออกมา
set1 = {1, 2, 3, 'i', 'ii', 'iii'}
for i in set1:
  print(i)

1
2
3
iii
i
ii

In [ ]:
#กำหนดให้ set1 = {1, 2, 3, 'i', 'ii', 'iii'}
#จงเขียนโปรแกรมเพื่อเพิ่ม 'iv' ไปเป็นสมาชิกใน set1
#จากนั้นพิมพ์ค่า set1 ออกมา
set1 = {1, 2, 3, 'i', 'ii', 'iii'}
set1.add('iv')
print(set1)

{1, 2, 3, 'iii', 'iv', 'i', 'ii'}

In [ ]:
#จงเขียนโปรแกรมสร้าง set ว่าง แล้วรับอินพุต 3 ค่าที่เป็น string (str1, str2, str3)
#จากนั้นให้เพิ่ม string ทั้งสามไปเป็นสมาชิกใน set
#จากนั้นพิมพ์ค่า set ที่สร้างออกมา
set1 = set()

s = input()
set1.add(s)
s = input()
set1.add(s)
s = input()
set1.add(s)

print(set1)

aaa
bbb
ccc
{'bbb', 'aaa', 'ccc'}

In [ ]:
set1 = set()

for i in range(3):
  s = input()
  set1.add(s)

print(set1)

aaa
bbb
ccc
{'bbb', 'aaa', 'ccc'}

In [ ]:
set1 = set()

s = input().split(',')
set1.update( {s[0],    s[1],   s[2]}   )

print(set1)

aa, bbb, cc
{' cc', ' bbb', 'aa'}

In [ ]:
#กำหนดให้ set1 = {1, 2, 3, 'i', 'ii', 'iii'}
#จงเขียนโปรแกรมเพื่อลบ 'i' ออกจาก set1
#จากนั้นพิมพ์ค่า set1 ออกมา
set1 = {1, 2, 3, 'i', 'ii', 'iii'}
set1.remove('i')
print(set1)

{1, 2, 3, 'iii', 'ii'}

In [ ]:
#กำหนดให้ set1 = {1, 2, 3, 'i', 'ii', 'iii'}
#จงเขียนโปรแกรมเพื่อพิมพ์จำนวนสมาชิกใน set1 ออกมา
set1 = {1, 2, 3, 'i', 'ii', 'iii'}
print(len(set1))

6

In [ ]:
#กำหนดให้ set1 = {1, 2, 3, 'i', 'ii', 'iii'}
#จงเขียนโปรแกรมรับอินพุต 1 ตัว ที่เป็นจำนวนเต็ม (int1)
#ให้ตรวจสอบว่า int1 เป็นสมาชิกของ set1 หรือไม่
#แล้วพิมพ์ผลลัพธ์ออกมา
set1 = {1, 2, 3, 'i', 'ii', 'iii'}
int1 = int(input())
print(int1 in set1)

2
True

In [ ]:
#กำหนดให้ set1 = {1, 2, 3, 4, 5} และ set2 = {3, 4, 5, 6}
#จงเขียนโปรแกรมเพื่อพิมพ์ผลลัพธ์ที่เกิดจากการ union ระหว่าง set1 และ set2 ออกมา
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4, 5, 6}
print(set1.union(set2))

{1, 2, 3, 4, 5, 6}

In [ ]:
print(set1 | set2)

{1, 2, 3, 4, 5, 6}

In [ ]:
#กำหนดให้ set1 = {1, 2, 3, 4, 5} และ set2 = {3, 4, 5, 6}
#จงเขียนโปรแกรมเพื่อพิมพ์ผลลัพธ์ที่เกิดจากการ intersection ระหว่าง set1 และ set2 ออกมา
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4, 5, 6}
print(set1.intersection(set2))

{3, 4, 5}

In [ ]:
print(set1 & set2)

{3, 4, 5}

In [ ]:
#กำหนดให้ set1 = {1, 2, 3, 4, 5} และ set2 = {3, 4, 5, 6}
#จงเขียนโปรแกรมเพื่อพิมพ์ผลลัพธ์ที่เกิดจาก set1 - set2 ออกมา
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4, 5, 6}
print(set1 - set2)

{1, 2}

### {dict}

In [ ]:
#จงเขียนโปรแกรมสร้าง dictionary ที่มี key เป็น firstname และ lastname
#และมี value คือ John และ Son ตามลำดับ
#จากนั้นให้พิมพ์ค่าและชนิดข้อมูล ของ dictionary ที่สร้างออกมา
dict1 = {
    'firstname': 'John',
    'lastname': 'Son'
}
print(dict1)
print(type(dict1))

{'firstname': 'John', 'lastname': 'Son'}
<class 'dict'>

In [ ]:
#กำหนดให้ dict1 = {'firstname': 'John', 'lastname': 'Smith'}
#จงเขียนโปรแกรมพิมพ์ value ของ key 'firstname' ออกมา
dict1 = {'firstname': 'John', 'lastname': 'Smith'}
print(dict1['firstname'])

John

In [ ]:
#กำหนดให้ dict1 = {'firstname': 'John', 'lastname': 'Smith'}
#จงเขียนโปรแกรมพิมพ์ list ของ value ทั้งหมดใน dict1 ออกมา
dict1 = {'firstname': 'John', 'lastname': 'Smith'}
print(dict1.values())

dict_values(['John', 'Smith'])

In [ ]:
#กำหนดให้ dict1 = {'firstname': 'John', 'lastname': 'Smith'}
#จงเขียนโปรแกรมเปลี่ยน value ของ key 'firstname' เป็น Jane
#จากนั้นให้พิมพ์ dict1 ออกมา
dict1 = {'firstname': 'John', 'lastname': 'Smith'}
dict1['firstname'] = 'Jane'
print(dict1)

{'firstname': 'Jane', 'lastname': 'Smith'}

In [ ]:
#กำหนดให้ dict1 = {'firstname': 'John', 'lastname': 'Smith'}
#จงเขียนโปรแกรมสร้าง key ใหม่ชื่อ 'age' และกำหนดค่าเป็น 20
#จากนั้นให้พิมพ์ dict1 ออกมา
dict1 = {'firstname': 'John', 'lastname': 'Smith'}
dict1['age'] = 20
print(dict1)

{'firstname': 'John', 'lastname': 'Smith', 'age': 20}

In [ ]:
#กำหนดให้ dict1 = {'firstname': 'John', 'lastname': 'Smith'}
#จงเขียนโปรแกรมสร้าง key ใหม่ชื่อ 'age' และ 'hobby'
#โดยกำหนดค่าเป็น 20 และ ['coding', 'studying']ตามลำดับ
#จากนั้นให้พิมพ์ dict1 ออกมา
dict1 = {'firstname': 'John', 'lastname': 'Smith'}
dict1.update(  {'age': 20 ,  'hobby': ['coding', 'studying']}   )
print(dict1)

{'firstname': 'John', 'lastname': 'Smith', 'age': 20, 'hobby': ['coding', 'studying']}

In [ ]:
#จงเขียนโปรแกรมสร้าง dictionary ว่าง แล้วรับอินพุต 2 ตัว ที่เป็น string (str1, str2)
#โดยให้ str1 เป็น key และ str2 เป็น value
#จากนั้นให้พิมพ์ dictionary ที่สร้างออกมา
dict1 = {}

s = input().split(',')
dict1[  s[0]   ] = s[1]

print(dict1)

nadh, 20
{'nadh': ' 20'}

In [ ]:
#กำหนดให้ dict1 = {'firstname': 'John', 'lastname': 'Smith', 'age':20}
#จงเขียนโปรแกรมเพื่อลบ key 'age' ออกจาก dict1
#จากนั้นให้พิมพ์ dict1 ออกมา
dict1 = {'firstname': 'John', 'lastname': 'Smith', 'age':20}
del dict1['age']
print(dict1)

{'firstname': 'John', 'lastname': 'Smith'}

In [ ]:
#กำหนดให้ dict1 = {'firstname': 'John', 'lastname': 'Smith', 'age':20}
#จงเขียนโปรแกรมเพื่อลบข้อมูลทั้งหมดออกจาก dict1
#จากนั้นให้พิมพ์ dict1 ออกมา
dict1 = {'firstname': 'John', 'lastname': 'Smith', 'age':20}
dict1.clear()
print(dict1)

{}

In [ ]:
#กำหนดให้ dict1 = {'firstname': 'John', 'lastname': 'Smith', 'age':20}
#จงเขียนโปรแกรมเพื่อพิมพ์จำนวน key ของ dict1 ออกมา
dict1 = {'firstname': 'John', 'lastname': 'Smith', 'age':20}
print(len(dict1))

3

In [ ]:
#กำหนดให้ dict1 = {'firstname': 'John', 'lastname': 'Smith', 'age':20}
#จงเขียนโปรแกรมรับอินพุต 1 ตัว ที่เป็น string (str1)
#ให้ตรวจสอบว่า str1 เป็น value ของ dict1 หรือไม่
#แล้วพิมพ์ผลลัพธ์ออกมา
dict1 = {'firstname': 'John', 'lastname': 'Smith', 'age':20}
s = input()
print(s in dict1.values())

nadh
False

# 25 August 2022 งดเรียนให้ทำแบบฝึกหัดเพิ่มเติม Tuple, List

# Week08: 24 August 2022 (Data Types & Data Structure: Tuple, List)
ให้ฝึกเขียนโค้ดจากโจทย์ต่อไปนี้
<br>เป็นแบบฝึกหัดฝึกทำในชั่วโมง และส่วนเพิ่มเติมจะทำหรือไม่ทำก็ได้


*   การหาค่ากลาง (median)
*   การหาค่าส่วนเบี่ยงเบนมาตรฐาน (standard deviation)

## (การบ้าน)

In [ ]:
#ให้ทำโจทย์เพิ่มเติมอย่างน้อย 15 ข้อ

## (in Lab)

### Tuple เขียนอยู่ใน ( )

In [ ]:
#ให้สร้าง tuple เก็บข้อมูลอะไรก็ได้
a = (1, 2, 3, 4)
print(a)

(1, 2, 3, 4)

In [ ]:
#เขียนแสดงค่าใน tuple ที่สร้าง โดยแสดงค่าในตำแหน่งแรก และตำแหน่งสุดท้าย
print(f'{a[0]}    {a[-1]}')

1    4

In [ ]:
#เราเปลี่ยนค่าใน tuple หรือลบได้หรือไม่ เช่น x[2] = 5

In [ ]:
#เขียนแสดงจำนวนสมาชิกใน tuple

### List เขียนอยู่ใน [ ]

In [ ]:
#ให้สร้าง list เก็บข้อมูลอะไรก็ได้

In [ ]:
#เขียนแสดงค่าใน list ที่สร้าง โดยแสดงค่าในตำแหน่งแรก และตำแหน่งสุดท้าย

In [ ]:
#เปลี่ยนค่าในตำแหน่งสุดท้ายของ list ที่สร้าง แล้วแสดงผล

In [ ]:
#เขียนลบค่าที่อยู่ตรงกลาง list

In [ ]:
#เขียนแสดงจำนวนสมาชิกใน list

In [ ]:
#เขียนเพิ่มสมาชิกต่อท้าย list สองค่า

In [ ]:
#เขียนเพิ่มสมาชิกจาก list นี้ >> a = [1, 2, 3]

In [ ]:
#เขียนตรวจสอบว่ามีค่า x ใน list หรือไม่ โดยให้ผู้ใช้กรอกค่า x

In [ ]:
#เขียนแสดงค่าใน list จากตำแหน่งที่ 2-4 (หากมีข้อมูลไม่ถึง ให้เพิ่มข้อมูลใน list )

In [ ]:
#เขียนหาค่าส่วนเบี่ยงเบนมาตรฐาน จาก list ที่สร้างขึ้น

In [ ]:
#เขียนฟังก์ชัน def stdev(x) เพื่อใช้หาค่าส่วนเบี่ยงเบนมาตรฐาน จาก list x ที่ส่งเข้าไป

In [ ]:
#เขียนฟังก์ชัน def median(x) เพื่อใช้หาค่ากลาง จาก list x ที่ส่งเข้าไป

## (เฉลยการบ้าน)

In [ ]:
#EX0502 จงเขียนฟังก์ชัน max3() เพื่อแสดง ตัวเลขที่มีค่าที่สูงที่สุด 3 ค่าจาก argument
#ที่ส่งใน function call การแสดงผลต้องเรียงลำดับจากน้อยไปมาก แยกตัวเลขละบรรทัด
def max3(*d):
  dd = list(d)      #แปลงเป็น list
  dd.sort()         #เรียงลำดับค่าใน list
  #print(dd[-3:])
  for i in dd[-3:]:
    print(i, end='')

max3(1,2,3,4,5)
print()
max3(2,5,5)
print()
max3(4,5)
print()
max3(3,8,9,1,0,20)

345
255
45
8920

In [ ]:
#EX0503 จากโจทย์ EX0501 จงหา แสดงรายการเป็น ผลต่างยกกำลังสอง
n = int(input())
ids = []
gpas = []

for i in range(n):
  line = input().split(',')
  ids.append( line[0] )
  gpas.append( float(line[1]) )

avg = sum(gpas)/len(gpas)

for i in range(len(ids)):
  #print(f'{ids[i]},{abs(gpas[i]-avg):.2f}')                #ผลต่าง จาก EX0501
  print(f'{ids[i]},{( (gpas[i]-avg)*(gpas[i]-avg) ):.2f}')  #นำมายกกำลังสอง

#5
#61002001,3.00
#61030002,3.00
#61004003,4.00
#61000004,1.22
#61000101,2.50

5
61002001,3.00
61030002,3.00
61004003,4.00
61000004,1.22
61000101,2.50
61002001,0.07
61030002,0.07
61004003,1.58
61000004,2.32
61000101,0.06

In [ ]:
#EX0504 จากโจทย์ EX0503 จงหาผลรวมของผลต่างยกกำลังสองของทุกคน
#แล้วแสดงค่า รากที่สองของผลรวมนั้น
import math

n = int(input())
ids = []
gpas = []

for i in range(n):
  line = input().split(',')
  ids.append( line[0] )
  gpas.append( float(line[1]) )

avg = sum(gpas)/len(gpas)

total = 0
for i in range(len(ids)):
  difsqt = (gpas[i]-avg)*(gpas[i]-avg)    #หาผลต่างกำลังสอง จาก EX0503
  total = total + difsqt                  #หาผลรวมของ ผลต่างกำลังสอง
  print(f'{ids[i]},{difsqt:.2f}')
print(f'{total:.2f}')                     #แสดงผลรวม
print(f'{math.sqrt(total):.2f}')          #แสดงผลของรากที่สองของ ผลรวม

5
61000101,2.50
61000004,1.22
61004003,4.00
61002001,3.00
61002002,3.00
61000101,0.06
61000004,2.32
61004003,1.58
61002001,0.07
61002002,0.07
4.09
2.02

In [ ]:
#EX0505 จงเขียนโปรแกรมเพื่อหาค่าเบี่ยงเบนมาตรฐานของผลการเรียนของนักศึกษา
#ตามรูปแบบข้อมูลนำเข้าข้อ EX0501
import math

n = int(input())
ids = []
gpas = []

for i in range(n):
  line = input().split(',')
  ids.append( line[0] )
  gpas.append( float(line[1]) )

avg = sum(gpas)/len(gpas)

total = 0
for i in range(len(ids)):
  difsqt = (gpas[i]-avg)*(gpas[i]-avg)    # 4-2 = 2  >>> 2 * 2
  total = total + difsqt
  print(f'{ids[i]},{difsqt:.2f}')

std = math.sqrt(total/(n-1))
print(f'{std:.2f}')

## โจทย์เพิ่มเติม

### [List]

In [ ]:
pow2 = [2 ** x for x in range(10)]
print(pow2)

[1, 2, 4, 8, 16, 32, 64, 128, 256, 512]

In [ ]:
#ให้เขียนสร้าง list ที่ได้ผลลัพธ์เช่นเดียวกับโค้ดด้านบน (ใช้ .append)
pow3 = []
for i in range(10):
  pow3.append(2**i)
print(pow3)

[1, 2, 4, 8, 16, 32, 64, 128, 256, 512]

In [ ]:
#ให้เขียนคำสั่งโดยใช้ for แสดงผลจาก list ['apple','banana','mango'] ดังนี้
#output:
#I like apple
#I like banana
#I like mango
for a in ['apple','banana','mango']:
  print(f'I like {a}')

I like apple
I like banana
I like mango

In [ ]:
#กำหนดให้ list1 = [0, 1, 2, 'a', 'b', 'c'] จงเขียนโปรแกรมเพื่อพิมพ์ b ออกมา
list1 = [0, 1, 2, 'a', 'b', 'c']
print(list1[4])

b

In [ ]:
print(list1[-2])

b

In [ ]:
#กำหนดให้ list1 = [0, 1, 2, 'a', 'b', 'c'] จงเขียนโปรแกรมเพื่อพิมพ์ list ที่มีสมาชิก
#ตั้งแต่ index ที่ 2 จนถึง index ที่ 3 ของ list1 ออกมา
list1 = [0, 1, 2, 'a', 'b', 'c']
print(list1[2:4])

[2, 'a']

In [ ]:
#กำหนดให้ list1 = [0, 1, 2, 'a', 'b', 'c'] จงเขียนโปรแกรมเพื่อพิมพ์ list ที่มีสมาชิก
#ตั้งแต่ index ที่ 1 จนถึง index ที่ -2 ของ list1 ออกมา
list1 = [0, 1, 2, 'a', 'b', 'c']
print(list1[1:-1])

[1, 2, 'a', 'b']

In [ ]:
#กำหนดให้ list1 = [0, 1, 2, 'a', 'b', 'c']
#จงเขียนโปรแกรมเพื่อพิมพ์ [1, 2, 'a', 'b'] ออกมา
list1 = [0, 1, 2, 'a', 'b', 'c']
print(list1[1:5])

[1, 2, 'a', 'b']

In [ ]:
print(list1[-5:-1])

[1, 2, 'a', 'b']

In [ ]:
#กำหนดให้ list2 = ['ant', 'bird', 'cat', 'dog', 'eagle']
#จงเขียนโปรแกรมเพื่อเปลี่ยนค่าสมาชิกใน index ที่ 3 เป็น 'duck'
#หลังจากนั้นให้พิมพ์ list2 ออกมา
list2 = ['ant', 'bird', 'cat', 'dog', 'eagle']
list2[3] = 'duck'
print(list2)

['ant', 'bird', 'cat', 'duck', 'eagle']

In [ ]:
#กำหนดให้ list2 = ['ant', 'bird', 'cat', 'dog', 'eagle']
#จงเขียนโปรแกรมเพื่อเปลี่ยนค่า 'ant' เป็น 'ape'
#หลังจากนั้นให้พิมพ์ list2 ออกมา
list2 = ['ant', 'bird', 'cat', 'dog', 'eagle']
list2[0] = 'ape'
print(list2)

['ape', 'bird', 'cat', 'dog', 'eagle']

In [ ]:
#กำหนดให้ list2 = ['ant', 'bird', 'cat', 'dog', 'eagle']
#จงเขียนโปรแกรมเพื่อเพิ่ม 'fish' เป็นสมาชิกตัวสุดท้ายของ list2
#หลังจากนั้นให้พิมพ์ list2 ออกมา
list2 = ['ant', 'bird', 'cat', 'dog', 'eagle']
list2.append('fish')
print(list2)

['ant', 'bird', 'cat', 'dog', 'eagle', 'fish']

In [ ]:
#เขียนโปรแกรมสร้าง list ว่าง และรับ input 3 ตัวที่เป็นสายอักขระ (str1, str2, str3)
#จากนั้นให้ทำการเพิ่มสายอักขระทั้งสามไปเป็นสมาชิกของ list โดยใช้ append แล้วให้พิมพ์ list ออกมา
list4 = []
a = input()
list4.append(a)
a = input()
list4.append(a)
a = input()
list4.append(a)
print(list4)

aaa
bbb
ccc
['aaa', 'bbb', 'ccc']

In [ ]:
#กำหนดให้ list3 = ['apple', 'cherry', 'eggfruit']
#จงเขียนโปรแกรมเพื่อแทรก banana ไปเป็นสมาชิกใน index ที่ 1 ของ list3
#หลังจากนั้นให้พิมพ์ list3 ออกมา
list3 = ['apple', 'cherry', 'eggfruit']
list3.insert(1, 'banana')
print(list3)

['apple', 'banana', 'cherry', 'eggfruit']

In [ ]:
#กำหนดให้ list3 = ['apple', 'banana', 'cherry', 'eggfruit']
#จงเขียนโปรแกรมเพื่อแทรก kiwi ไปเป็นสมาชิกใน index ที่ -2 ของ list3
#หลังจากนั้นให้พิมพ์ list3 ออกมา
list3 = ['apple', 'banana', 'cherry', 'eggfruit']
list3.insert(-2, 'kiwi')
print(list3)

['apple', 'banana', 'kiwi', 'cherry', 'eggfruit']

In [ ]:
#กำหนดให้ list4 = [0, 4, 2, 3, 1]
#จงเขียนโปรแกรมเพื่อเรียงลำดับข้อมูลใน list4 จากน้อยไปมาก
#หลังจากนั้นให้พิมพ์ list4 ออกมา
list4 = [0, 4, 2, 3, 1]
list4.sort()
print(list4)

[0, 1, 2, 3, 4]

In [ ]:
#กำหนดให้ list4 = [0, 4, 2, 3, 1]
#จงเขียนโปรแกรมเพื่อเรียงลำดับข้อมูลใน list4 จากมากไปน้อย
#หลังจากนั้นให้พิมพ์ list4 ออกมา
list4 = [0, 4, 2, 3, 1]
list4.sort(reverse=True)
print(list4)

[4, 3, 2, 1, 0]

In [ ]:
#กำหนดให้ list4 = [0, 4, 2, 3, 1]
#จงเขียนโปรแกรมเพื่อเรียงลำดับข้อมูลใน list4 จากน้อยไปมาก และเก็บค่าไว้ในตัวแปร sorted_list4
#หลังจากนั้นให้พิมพ์ sorted_list4 ออกมา
list4 = [0, 4, 2, 3, 1]
sorted_list4 = sorted(list4)
print(list4)
print(sorted_list4)

[0, 4, 2, 3, 1]
[0, 1, 2, 3, 4]

In [ ]:
#กำหนดให้ list5 = ['d', 'a', 'c', 'b', 'e']
#จงเขียนโปรแกรมเพื่อเรียงลำดับข้อมูลใน list5 จากมากไปน้อย
#หลังจากนั้นให้พิมพ์ list5 ออกมา
list5 = ['d', 'a', 'c', 'b', 'e']
list5.sort()
print(list5)

['a', 'b', 'c', 'd', 'e']

In [ ]:
#กำหนดให้ list1 = ['a', 'b', 'c'] และ list2 = [0, 1, 2]
#จงเขียนโปรแกรมเพื่อนำสมาชิกทั้งหมดของ list2 ไปต่อท้าย list1 และเก็บไว้ใน list3
#จากนั้นให้พิมพ์ list1, list2 และ list3 ออกมา
list1 = ['a', 'b', 'c']
list2 = [0, 1, 2]
list3 = list1 + list2
print(list1)
print(list2)
print(list3)

['a', 'b', 'c']
[0, 1, 2]
['a', 'b', 'c', 0, 1, 2]

In [ ]:
#กำหนดให้ list1 = [1, 2, 3, 1, 2, 3]
#จงเขียนโปรแกรมลบสมาชิกใน index ที่ 2 ออกจาก list1 โดยใช้คำสั่ง del
#หลังจากนั้นให้พิมพ์ list1 ออกมา
list1 = [1, 2, 3, 1, 2, 3]
del list1[2]
print(list1)

[1, 2, 1, 2, 3]

In [ ]:
#กำหนดให้ list1 = [1, 2, 3, 1, 2, 3]
#จงเขียนโปรแกรมลบ 3 ทั้งหมดออกจาก list1 โดยใช้คำสั่ง del
#หลังจากนั้นให้พิมพ์ list1 ออกมา
list1 = [1, 2, 3, 1, 2, 3]
del list1[2]
del list1[-1]
print(list1)

[1, 2, 1, 2]

In [ ]:
#กำหนดให้ list1 = [1, 2, 3, 1, 2, 3]
#จงเขียนโปรแกรมลบ 1 ทั้งหมดออกจาก list1 โดยใช้ remove
#หลังจากนั้นให้พิมพ์ list1 ออกมา
list1 = [1, 2, 3, 1, 2, 3]
list1.remove(1)
list1.remove(1)
print(list1)

[2, 3, 2, 3]

In [ ]:
#กำหนดให้ list1 = [1, 2, 3, 4, 5]
#จงเขียนโปรแกรมรับอินพุต 1 ตัวที่เป็นจำนวนเต็ม (num1) ให้ตรวจสอบว่า num1 เป็นสมาชิกใน list1 หรือไม่
#แล้วให้พิมพ์ผลการตรวจสอบออกมา
list1 = [1, 2, 3, 4, 5]
num1 = int(input())
print(num1 in list1)

7
False

### (Tuple)

In [ ]:
#กำหนดให้ tuple1 = ('America', 'Brazil', 'China', 'Dominican', 'Egypt')
#จงเขียนโปรแกรมเพื่อพิมพ์สมาชิกที่ index เป็น -2 ออกมา
tuple1 = ('America', 'Brazil', 'China', 'Dominican', 'Egypt')
print(tuple1[-2])

Dominican

In [ ]:
#กำหนดให้ tuple1 = ('America', 'Brazil', 'China', 'Dominican', 'Egypt')
#จงเขียนโปรแกรมเพื่อพิมพ์ Egypt ออกมา
tuple1 = ('America', 'Brazil', 'China', 'Dominican', 'Egypt')
print(tuple1[-1])

Egypt

In [ ]:
#กำหนดให้ tuple2 = ('one', 'two', 'three', 1, 2, 3)
#จงเขียนโปรแกรมเพื่อพิมพ์สมาชิกที่ index ที่ 2 ถึง -1 ออกมา
tuple2 = ('one', 'two', 'three', 1, 2, 3)
print(tuple2[2:])

('three', 1, 2, 3)

In [ ]:
#กำหนดให้ tuple2 = ('one', 'two', 'three', 1, 2, 3)
#จงเขียนโปรแกรมเพื่อพิมพ์ three และ 1 ออกมา
tuple2 = ('one', 'two', 'three', 1, 2, 3)
print(tuple2[-4:-2])        #มีหลายวิธีนะ

('three', 1)

In [ ]:
#กำหนดให้ tuple3 = ('one', 'two', 'three', 'four', 'five')
#จงเขียนโปรแกรมเพื่อหาจำนวนสมาชิกของ tuple3 ออกมา
tuple3 = ('one', 'two', 'three', 'four', 'five')
print(len(tuple3))

5

In [ ]:
#กำหนดให้ tuple3 = ('one', 'two', 'three', 'four', 'five')
#จงเขียนโปรแกรมรับอินพุต 1 ตัวที่เป็น string (str1) ให้ตรวจสอบว่า str1 เป็นสมาชิกใน tuple3 หรือไม่
#แล้วให้พิมพ์ผลการตรวจสอบออกมา
tuple3 = ('one', 'two', 'three', 'four', 'five')
str1 = input()
print(str1 in tuple3)

six
False

# 18 August 2022 หยุดวันวิทยาศาสตร์

# Week07: 17 August 2022 (ทบทวนเนื้อหาครึ่งแรก)

## การบ้าน
ให้ฝึกเขียน Code จากโจทย์

In [ ]:
#EX0502 จงเขียนฟังก์ชัน max3() เพื่อแสดง ตัวเลขที่มีค่าที่สูงที่สุด 3 ค่าจาก argument
#ที่ส่งใน function call การแสดงผลต้องเรียงลำดับจากน้อยไปมาก แยกตัวเลขละบรรทัด

In [ ]:
#EX0503 จากโจทย์ EX0501 จงหา แสดงรายการเป็น ผลต่างยกกำลังสอง

In [ ]:
#EX0504 จากโจทย์ EX0503 จงหาผลรวมของผลต่างยกกำลังสองของทุกคน แล้วแสดงค่า รากที่สองของผลรวมนั้น

In [ ]:
#EX0505 จงเขียนโปรแกรมเพื่อหาค่าเบี่ยงเบนมาตรฐานของผลการเรียนของนักศึกษาตามรูปแบบข้อมูลนำเข้าข้อ EX0501

## Midterm Exam

In [ ]:
#1.1
birth_year = int(input("ค.ศ.เกิดของคุณ: "))
print("พ.ศ.เกิดของคุณคือ ", birth_year+543)

ค.ศ.เกิดของคุณ: 1990
พ.ศ.เกิดของคุณคือ  2533

In [ ]:
#1.3
a, b, c, d = eval(input())
print(d*a**b**d-c*d%b)

2,3,4,1
7

In [ ]:
#2.6
n = int(input())
#for i in range(n):
#  print(2*i)

for i in range(0, 2*n, 2):
  print(i)

4
0
2
4
6

In [ ]:
#3.1
st = input()
c = 0
for i in st:
  c = c + 1

print(c)

infinity war
12

In [ ]:
#3.2
st = input()
f = st[0]
st = st.replace(f, '@')
st = f + st[1:]
print(st)

infinity war
inf@n@ty war

In [ ]:
#3.3
st = input()
n = int(input())
f = st[0:n]
l = st[n+1:]
print(f+l)

infinity Way
5
infinty Way

In [ ]:
#3.4
num = eval(input())
#print(num)
sum = 0
for i in num:
  sum = sum + i

print(sum)

2,3,5
10

In [ ]:
def greeting(age, name):
  for i in range(age//10):
    print("Have a good day", name)

age = int(input())
name = input()
greeting(age, name)

20
Nadh
Have a good day Nadh
Have a good day Nadh

## ฟังก์ชัน

In [ ]:
def xxx(name):
  print('Hello', name)
  return "คณะวิทยาศาสตร์"

fac = xxx("อณัฏฐ์")
print("คุณสังกัด", fac)

Hello อณัฏฐ์
คุณสังกัด คณะวิทยาศาสตร์

## List

In [ ]:
a = [3, 4, 5]
print(sum(a))
for i in a:
  print(i, end=',')

12
3,4,5,

## Strings

In [ ]:
name = "a b c"
s = '5+6+7'
a = name.split()
print(a)
b = s.split("+")
print(b)

['a', 'b', 'c']
['5', '6', '7']

## Numbers

In [ ]:
a, b, c = eval(input())
print(a+b+c)

5,9,7
21

## Input & Output

In [ ]:
x = int(input("กรอกค่า x "))
print(x+50)

กรอกค่า x 5
55

# 1-11 August 2022 Midterm

# Week06: 27 July 2022 (Functions & Common Packages)

## (in lab)

### เริ่มต้นกับฟังก์ชัน

### ฟังชั่นแบบ***ไม่มี parameter***

### ฟังชั่นแบบ***มี parameter***

### ฟังชั่นแบบ***มี parameter มากกว่า 1***

### 5.10 Exercises

### ฟังก์ชั่นที่มีการ return ค่า

### Common Packages

## (การบ้าน)

# Week05: 21 July 2022 (Data Types: List)

## (in lab)

In [ ]:
n = int(input('จะวนรับกี่รอบ : '))
list1 = []
for i in range(n):
    x = int(input())
    list1.append(x)

print(list1)

จะวนรับกี่รอบ : 2
5
6
[5, 6]

In [ ]:
s = "2.55, 3.40, 3.55, 2.95, 3.00, 3.25"
S = s.split(',')
print(S)

list1 = []
for i in S:
  list1.append(float(i))

print(list1)
print(sum(list1))
print(min(list1))
print(len(list1))

['2.55', ' 3.40', ' 3.55', ' 2.95', ' 3.00', ' 3.25']
[2.55, 3.4, 3.55, 2.95, 3.0, 3.25]
18.7
2.55
6

In [ ]:
#4.21. ตัวอย่างการเขียนโปรแกรมเพื่อหาหลักสูตรที่มีเกรดเฉลี่ยสูงที่สุด
#จงเขียนโปรแกรมเพื่อหาหลักสูตรที่มีเกรดเฉลี่ยรวมของนักศึกษาสูงที่สุด ผลลัพธ์ของโปรแกรมจะต้องแสดง เกรดเฉลี่ยของหลักสูตรที่สูงที่สุด

n = int(input())              #รับค่าว่าจะวนกี่ครั้ง ตามตัวอย่าง คือ 3
all_avg = []                   #ตัวแปรที่เป็นชนิดข้อมูล list กำหนดให้เริ่มต้นเป็นค่าว่าง จะไว้ใช้เก็บผลลัพธ์สุดท้าย คือค่าเฉลี่ยของแต่หลักสูตร หรือค่าเฉลี่ยของแต่ละแถว

for i in range(n):             #วนทำ..บรรทัดที่ 8-15 ตามจำนวนรอบที่รับค่า n มา
  line = input()                #รับค่าทั้งบรรทัด เช่น 2.55, 3.40, 3.55, 2.95, 3.00, 3.25
  info = line.split(',')         #แบ่งสตริงด้วย , เก็บลงตัวแปร info (เป็นชนิด list)
  gpa = []                       #ตัวแปรที่เป็นชนิดข้อมูล list กำหนดให้เริ่มต้นเป็นค่าว่าง จะไว้ใช้เก็บข้อมูลที่แปลงเป็น float
  for e in info:                  #วนเพื่อแปลงค่าจากสตริง เป็น float
    gpa.append(float(e))    #แปลงค่าสตริงเป็น float แล้วเก็บลงในลิสต์ gpa

  avg = sum(gpa)/len(gpa) #หาค่าเฉลี่ยของแต่ละแถว
  all_avg.append(avg)        #เก็บค่าเฉลี่ยลงไปในลิสต์ผลลัพธ์ (all_avg)

print( max(all_avg) )         #พิมพ์ค่าที่มากที่สุดในลิสต์ all_avg

3
2.55, 3.40, 3.55, 2.95, 3.00, 3.25
3.25, 2.40, 3.55, 3.95, 3.22, 3.53, 3.20, 3.32
3.45, 3.22, 2.95, 3.95, 2.75, 3.66, 2.99, 3.34
3.3024999999999998

In [ ]:
#EX0403 จงเขียนโปรแกรมเพื่อหาเกรดเฉลี่ยรวมที่น้อยที่สุดของทุกหลักสูตร
n = int(input())
all_avg = []
for i in range(n):
  info = input().split(',')
  gpa = []
  for e in info:
    gpa.append( float(e) )

  all_avg.append(sum(gpa)/len(gpa))

print(min(all_avg))

#ให้การบ้านไปเขียน flowchart & pseudocode

2
3.25, 2.40, 3.55, 3.95, 3.22, 3.53, 3.20, 3.32
2.55, 3.40, 3.55, 2.95, 3.00, 3.25
3.1166666666666667

ให้เขียนโปรแกรมหาค่าเฉลี่ยของชุดตัวเลขที่รับเข้ามา ตามจำนวนชุดที่ผู้ใช้กรอก ตัวอย่างการแสดงผลเช่น <br>
(ตัวอย่าง Input) <br>
กรอกจำนวนชุด : 3 <br>
4, 5, 9, 10 <br>
3, 5, 5 <br>
2, 4, 5, 6, 20, 24 <br>
(ตัวอย่าง Output) <br>
7.00<br>
4.33<br>
10.17

In [ ]:
n = int(input())
all_avg = []
for i in range(n):
  gpa = eval(input())
  all_avg.append(sum(gpa)/len(gpa))

print('----output----')
for i in all_avg:
  print(f'{i:.2f}')

#ให้การบ้านไปเขียน flowchart & pseudocode

3
4, 5, 9, 10
3, 5, 5
2, 4, 5, 6, 20, 24
----output----
7.00
4.33
10.17

In [ ]:
a = [ [2,'A'], [1,'B'], [3,'C'] ]
a.sort()
print(a)
print(a[0][1])

[[1, 'B'], [2, 'A'], [3, 'C']]
B

In [ ]:
#ชนิดข้อมูลทุกอันที่สอนเมื่อวาน
#ยกตัวอย่าง

#int
a = 20
#float
b = 3.50
#string
name = 'nadh'
#list
c = [1, 2, 3]
#tuple
d = (1, 2, 3)
#set
e = {1, 2, 3}
#dict
f = {1: 10, 2:30, 4:80}


print(name[2])

d

# Week05: 20 July 2022 (Data Types: String)

## (เฉลยการบ้าน)

In [ ]:
#EX0402 จงเขียนโปรแกรมเพื่อรับตัวเลขจากผู้ใช้แล้วแสดงชื่อเดือนตามหมายเลขนั้น (เดือนเริ่มจาก 1 เป็น January)
months = "January February March April May June July August September October November December"
Months = months.split(' ')
n = int(input())
print(Months[n-1])

1
January

In [ ]:
#4.18. Exercises แสดงอักขระในช่วงต่อไปนี้
#0x2654 ถึง 0x265F

for c in range(0x2654, 0x265F+1):
  print(chr(c), end=' ')
print()

♔ ♕ ♖ ♗ ♘ ♙ ♚ ♛ ♜ ♝ ♞ ♟

In [ ]:
#0x2660 ถึง 0x2667
for c in range(0x2660, 0x2667+1):
  print(chr(c), end=' ')

♠ ♡ ♢ ♣ ♤ ♥ ♦ ♧

## (in lab)

In [ ]:
name = 'nadh'
surname = "ditcharoen"
major = 'ศึกษาศาสตรบัณฑิต เอกเทคโนโลยี'
list1 = [1,2,3]
list2 = ['a', 'b', 'c']
list3 = [2, 'aaa', 3.5]

tuple1 = (1, 3, 4)
tuple2 = ('aaa', 'bbb', 'กกก')

set1 = {2, 3, 4}
set2 = {'a', 'b', 'c'}

dict1 = {
              'key'   :  'value',
              'key2' :  'value2',
              'key3' :  'value3'
            }

In [ ]:
name = 'Paul Phoenix'
print(name[5])
print(name[8])

print(name[len(name)-1])
print(len(name))

print(name[-1])
print(name[-3])

P
e
x
12
x
n

In [ ]:
name = 'Paul Phoenix'
print(name[0:4])
print(name[5:8])
print(name[5:])
print(name[:4])

Paul
Pho
Phoenix
Paul

In [ ]:
name = 'nadh'
sname = 'ditcharoen'

print(name + sname)

print(name * 3)
print(5*name)

nadhditcharoen
nadhnadhnadh
nadhnadhnadhnadhnadh

In [ ]:
name = 'Paul Phoenix'
for i in name:
  print(i, end=',')

P,a,u,l, ,P,h,o,e,n,i,x,

In [ ]:
for i in name:
  print(i)

P
a
u
l

P
h
o
e
n
i
x

In [ ]:
days = 'MonTueWedThuFriSatSun'
print(days[0:3])   # 'Mon'
print(days[3:6])   # 'Tue'
print(days[6:9])   # 'Wed'
print(days[9:12])  # 'Thu'
print(days[12:15]) # 'Fri'
print(days[15:18]) # 'Sat'
print(days[18:21]) # 'Sun'

Mon
Tue
Wed
Thu
Fri
Sat
Sun

In [ ]:
#โจทย์ จงเขียนโปรแกรมเพื่อรับตัวเลขจากผู้ใช้แล้วแสดงชื่อวัน
days = 'SunMonTueWedThuFriSat'
n = int(input())
print(days[(n-1)*3:n*3])

5
Thu

In [ ]:
DAYS = 'จันทร์ อังคาร พุธ พฤหัสบดี ศุกร์ เสาร์ อาทิตย์'
days = DAYS.split(' ')
print(days)
n = int(input())
print(days[n-1])

['จันทร์', 'อังคาร', 'พุธ', 'พฤหัสบดี', 'ศุกร์', 'เสาร์', 'อาทิตย์']
3
พุธ

In [ ]:
GPA = '3.40,2.55,3.00,3,3.65'
gpas = GPA.split(',')

print(gpas)

list1 = []
for i in gpas:
  f = float(i)
  list1.append(f)

print(list1)
print(sum(list1))
print(sum(list1)/len(list1))

['3.40', '2.55', '3.00', '3', '3.65']
[3.4, 2.55, 3.0, 3.0, 3.65]
15.6
3.12

In [ ]:
x = input()
y = x.split(' ')

print(y)
print(len(y))

my name is nadh
['my', 'name', 'is', 'nadh']
4

In [ ]:
len(input().split(' '))

my name is nadh

4

In [ ]:
#EX0402 จงเขียนโปรแกรมเพื่อรับตัวเลขจากผู้ใช้แล้วแสดงชื่อเดือนตามหมายเลขนั้น (เดือนเริ่มจาก 1 เป็น January)

In [ ]:
name = 'Paul'
lastname = 'Phoenix'
gpa = 3.123456
print( f'GPA of {name} {lastname} is {gpa:5.2f}' )

GPA of Paul Phoenix is  3.12

In [ ]:
print('\u0E01')
print('\u23F0 = ⏰')
c = 0x23F0
for i in range(10):
    print(chr(c+i), end=' ')

ก
⏰ = ⏰
⏰ ⏱ ⏲ ⏳ ⏴ ⏵ ⏶ ⏷ ⏸ ⏹

In [ ]:
kor = ord('ก')
hor = ord('ฮ')
for i in range(kor, hor+1):
    print(chr(i), end=' ')

ก ข ฃ ค ฅ ฆ ง จ ฉ ช ซ ฌ ญ ฎ ฏ ฐ ฑ ฒ ณ ด ต ถ ท ธ น บ ป ผ ฝ พ ฟ ภ ม ย ร ฤ ล ฦ ว ศ ษ ส ห ฬ อ ฮ

In [ ]:
a = [1, 2, 3, 4]
a.append(5)
print(a)

[1, 2, 3, 4, 5]

In [ ]:
a = []
for i in range(5):
    n = int(input())
    a.append(n)
print(a)

5
6
4
7
8
[5, 6, 4, 7, 8]

In [ ]:
s = []
n = int(input('จะรับกี่ตัว '))
for i in range(n):
  t = int(input())
  s.append(t)

print(s)

จะรับกี่ตัว 5
5
4
3
7
1
[5, 4, 3, 7, 1]

# 14-15 July 2022 วันหยุด

# Week04: 7 July 2022 (Numbers - for loop)

## (เฉลยการบ้าน)

In [ ]:
#EX0306 จงเขียนโปรแกรมเพื่อหาค่า factorial ของตัวเลขที่ผู้ใช้กรอก โดย factorial ของตัวเลข n  ใดๆ
n = int(input("Enter number for n! :"))
fac = 1
for i in range(n,1,-1):
  fac *= i        #fac = fac * i
print(f'{n}! = {fac}')

Enter number for n! :3
3! = 6

In [ ]:
#EX0307 จงเขียนโปรแกรมเพื่อคำนวณหายอดเงินฝากธนาคารรวมเมื่อสิ้นปีที่ 4 จากเงินต้นที่ผู้ใช้กรอก และอัตราดอกเบี้ยร้อยละ 4 ต่อปี
principal = int(input('กรอกจำนวนเงินต้น '))
for year in range(1, 5):
  principal = principal + principal * 0.04
print(f'เมื่อสิ้นปีที่ 4 ยอดเงินรวมคือ {principal:,.2f}')

กรอกจำนวนเงินต้น 10000
เมื่อสิ้นปีที่ 4 ยอดเงินรวมคือ 11,698.59

In [ ]:
#EX0308 แสดงสูตรคูณแม่ 12
for i in range(1, 13):
  print(f'{i} x 12 = {i*12}')

1 x 12 = 12
2 x 12 = 24
3 x 12 = 36
4 x 12 = 48
5 x 12 = 60
6 x 12 = 72
7 x 12 = 84
8 x 12 = 96
9 x 12 = 108
10 x 12 = 120
11 x 12 = 132
12 x 12 = 144

In [ ]:
#EX0309 แสดงสูตรคูณแม่ใดๆ ก็ได้ที่ผู้ใช้กำหนด
n = int(input())
for i in range(1, 13):
  print(f'{i} x {n} = {i*n}')

1500
1 x 1500 = 1500
2 x 1500 = 3000
3 x 1500 = 4500
4 x 1500 = 6000
5 x 1500 = 7500
6 x 1500 = 9000
7 x 1500 = 10500
8 x 1500 = 12000
9 x 1500 = 13500
10 x 1500 = 15000
11 x 1500 = 16500
12 x 1500 = 18000

In [ ]:
n = int(input('Enter number: '))
for i in range(1, 13):
  print(f'{n:,} x {i} = {n*i:,}')

Enter number: 1500
1,500 x 1 = 1,500
1,500 x 2 = 3,000
1,500 x 3 = 4,500
1,500 x 4 = 6,000
1,500 x 5 = 7,500
1,500 x 6 = 9,000
1,500 x 7 = 10,500
1,500 x 8 = 12,000
1,500 x 9 = 13,500
1,500 x 10 = 15,000
1,500 x 11 = 16,500
1,500 x 12 = 18,000

In [ ]:
#EX0310 แสดงผลลัพธ์ของการรวมเลขคี่ทั้งหมดที่มากกว่า 0 แต่น้อยกว่า 200000
sum = 0
for i in range(1, 200000, 2):
  sum += i
print(sum)
print(f'{sum:,}')

10000000000
10,000,000,000

In [ ]:
#EX03A แสดงผลคูณทั้งหมดของเลขคู่ที่อยู่ระหว่าง 200 กับ 2000
total = 1
for i in range(200, 2000, 2):
  total *= i
print(f'{total:,}')

3,644,489,178,285,860,333,195,440,453,027,424,495,435,950,998,525,379,779,855,457,188,280,105,947,211,066,319,367,213,550,248,933,233,318,893,277,740,052,673,931,152,998,413,035,537,688,500,414,303,865,188,898,576,123,894,359,441,168,184,970,238,057,201,029,241,223,540,475,633,047,910,182,428,427,387,446,787,928,228,172,082,593,168,812,319,496,060,930,211,673,014,733,033,379,016,198,731,885,932,500,460,634,658,744,986,996,544,363,275,842,088,473,555,080,973,637,548,827,816,184,725,908,743,446,869,294,468,561,622,162,391,660,706,707,240,717,093,841,697,014,912,859,835,982,112,436,977,451,539,790,617,596,136,039,440,234,234,266,857,708,433,108,753,323,039,567,453,574,302,000,363,852,918,242,436,089,037,040,288,536,650,078,317,755,291,417,687,548,922,100,778,992,158,815,759,983,805,976,692,656,718,842,939,026,563,314,639,554,961,732,489,243,109,058,891,702,217,174,243,520,656,019,946,687,880,658,542,307,087,514,874,459,804,969,501,546,197,310,855,323,942,198,862,473,788,723,311,406,666,721,168,789,372,054,168,837,791,041,995,199,009,711,892,300,104,558,836,850,898,655,327,432,329,022,850,840,336,639,653,211,133,668,094,295,510,607,312,611,965,171,605,766,349,500,713,617,445,290,099,957,164,996,034,775,848,681,600,303,669,370,707,273,805,957,891,361,230,190,448,564,229,162,575,893,457,094,781,798,000,175,000,909,731,498,594,130,704,389,737,084,672,967,745,793,818,937,124,995,378,254,924,020,680,065,762,866,507,111,043,853,471,768,944,458,624,416,732,595,502,524,242,417,586,479,340,820,948,977,070,387,308,603,556,799,022,977,386,980,759,848,663,294,246,894,141,239,644,663,607,865,038,852,333,526,111,636,364,615,410,587,361,321,963,883,371,963,922,876,510,059,770,159,128,559,713,911,587,654,639,160,181,248,282,985,579,362,334,587,842,826,086,376,253,517,379,850,789,519,624,277,922,697,043,486,768,752,215,324,718,572,931,494,852,553,055,803,875,296,899,952,371,287,935,125,301,413,351,100,811,762,146,836,042,421,316,274,956,415,517,804,160,401,862,597,328,799,945,758,444,062,969,011,757,191,848,760,380,121,083,094,160,706,200,524,624,726,974,261,798,563,793,961,210,716,505,470,496,439,955,170,481,177,224,269,934,701,731,150,940,663,540,752,711,360,600,759,498,764,590,751,968,907,696,010,049,022,437,833,925,183,933,664,328,456,015,007,223,058,635,177,334,131,035,264,338,104,331,359,313,914,575,052,384,627,689,645,325,080,877,729,733,235,997,978,689,801,777,218,475,737,928,187,774,418,138,715,673,343,073,881,290,116,180,970,745,411,597,869,112,414,100,223,737,711,833,177,727,393,931,102,496,991,272,684,277,631,675,797,733,193,800,091,176,723,950,487,131,278,749,782,358,658,341,478,756,723,246,976,242,587,502,589,621,717,937,052,791,496,864,186,246,215,491,213,776,108,208,462,329,636,973,869,250,401,048,401,042,475,507,492,772,854,599,653,751,656,766,068,874,635,230,188,716,428,609,324,208,134,941,162,138,857,668,969,715,973,175,939,528,291,580,529,816,992,908,664,935,738,099,791,030,734,682,558,299,962,097,010,757,923,742,247,471,377,592,641,812,451,035,811,233,370,959,241,185,937,852,977,638,793,438,193,297,121,334,793,146,547,817,920,348,096,057,503,992,702,637,816,399,642,515,891,004,064,553,067,613,119,598,369,831,815,150,758,666,190,860,188,989,594,869,803,545,497,750,754,711,352,717,269,889,347,037,730,707,231,001,804,800,000,000,000,000,000,000,000,000,000,000,000,000,000,000,000,000,000,000,000,000,000,000,000,000,000,000,000,000,000,000,000,000,000,000,000,000,000,000,000,000,000,000,000,000,000,000,000,000,000,000,000,000,000,000,000,000,000,000,000,000,000,000,000,000,000,000,000,000,000,000,000,000,000,000

In [ ]:
#EX03B คำนวณยอดเงินฝากธนาคารหลังปีที่ 20
amount, rate = eval(input("Enter amount, interest: "))
for i in range(20):
  amount += amount*rate/100
  print(f'{i+1} {amount}')
print(f'>> {amount:,.2f}')

Enter amount, interest: 10000,5
1 10500.0
2 11025.0
3 11576.25
4 12155.0625
5 12762.815625
6 13400.95640625
7 14071.0042265625
8 14774.554437890625
9 15513.282159785156
10 16288.946267774414
11 17103.393581163135
12 17958.56326022129
13 18856.491423232354
14 19799.31599439397
15 20789.28179411367
16 21828.745883819356
17 22920.183178010324
18 24066.19233691084
19 25269.501953756382
20 26532.977051444203
>> 26,532.98

In [ ]:
#EX03C คำนวณยอดเงินคืนกยศ.หลังจากปีที่ 5
amount, rate = eval(input("Enter amount, interest: "))
for i in range(5):
  amount += amount*rate/100
  print(f'{i+1} {amount}')
print(f'>> {amount:,.2f}')

Enter amount, interest: 1000, 2
1 1020.0
2 1040.4
3 1061.208
4 1082.43216
5 1104.0808032
>> 1,104.08

In [ ]:
#EX03D คำนวณเกรดเฉลี่ยสะสมของนักศึกษาหลังเรียนแล้ว 3 ภาคเรียน (เก็บอยู่ใน list)
totalGpa = 0.0
for i in [3.44, 2.22, 3.00]:
  totalGpa += i
print(f'{totalGpa/3 :.2f}')

2.89

## (in lab)

In [ ]:
principal, rate = eval(input('ต้นทุน, อัตราค่าตอบแทน: '))
for year in range(0,10):
  principal = principal + principal * rate
print('ยอดเงินลงทุนรวมหลังจากปีที่ 10 เป็น ', principal)

ต้นทุน, อัตราค่าตอบแทน: 10000,0.03
ยอดเงินลงทุนรวมหลังจากปีที่ 10 เป็น  13439.16379344122

In [ ]:
allFruit = ''
for fruit in ['avocado', 'banana', 'cranberry', 'durian']:
  allFruit += fruit

print(f'allFruit = {allFruit}')

allFruit = avocadobananacranberrydurian

In [ ]:
total = 0
for i in [1, 2, 3, 4, 5]:
  total += i    #total = total * i  หมายถึง   total *= i
  print(f'{i} : {total} ')

print(f'total = {total}')

1 : 1
2 : 3
3 : 6
4 : 10
5 : 15
total = 15

In [ ]:
x = [1, 2, 3, 4, 5]
print(sum(x))

15

In [ ]:
for fruit in ['avocado', 'banana', 'cranberry', 'durian']:
  print(fruit)

avocado
banana
cranberry
durian

In [ ]:
for i in [1, 2, 3, 4, 5]:
  print(i)

1
2
3
4
5

In [ ]:
#3.18 Exercise
for i in range(2, 11, 2):
  print(i, end='  ')

2  4  6  8  10

In [ ]:
for i in range(-5, 3):
  print(i, end='  ')

-5  -4  -3  -2  -1  0  1  2

In [ ]:
#แสดงเลขคู่ตั้งแต่ 10 ถึง 20 (รวม 20)
for i in range(10, 21, 2):
  print(i, end='  ')

10  12  14  16  18  20

In [ ]:
#แสดงเลขที่หาร 3 ลงตัวตั้งแต่ 1 ถึง 30 (รวม 30)
for i in range(3, 31, 3):
  print(i, end='  ')

3  6  9  12  15  18  21  24  27  30

In [ ]:
#แสดงเลขที่หาร 10 ลงตัวตั้งแต่ -100 ถึง 100 (ไม่รวม -100 และไม่รวม 100)
for i in range(-90, 100, 10):
  print(i, end='  ')

-90  -80  -70  -60  -50  -40  -30  -20  -10  0  10  20  30  40  50  60  70  80  90

In [ ]:
for i in range(-99, 100):
  if i%10 == 0:
    print(i, end='  ')

-90  -80  -70  -60  -50  -40  -30  -20  -10  0  10  20  30  40  50  60  70  80  90

In [ ]:
for i in range(15, 1, -2):
  print(i, end='  ')

15  13  11  9  7  5  3

In [ ]:
for i in range(1, 14, 3):
  print(i, end='  ')

1  4  7  10  13

In [ ]:
for i in range(1, 15, 2):
  print(i, end='  ')

1  3  5  7  9  11  13

In [ ]:
for i in range(3, 15):
  print(i, end='  ')

3  4  5  6  7  8  9  10  11  12  13  14

In [ ]:
for i in range(1, 9):
  print(i)

1
2
3
4
5
6
7
8

In [ ]:
for i in range(10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
total = 0
n = int(input('ต้องการกรอกกี่คน : '))

for i in range(n):
  x = float(input('กรอกค่า gpa: '))
  total = total + x

print(f'ผลรวมคือ {total}')
print(f'ค่าเฉลี่ย gpa คือ {total/n}')

ต้องการกรอกกี่คน : 2
กรอกค่า gpa: 3.5
กรอกค่า gpa: 3.0
ผลรวมคือ 6.5
ค่าเฉลี่ย gpa คือ 3.25

In [ ]:
#EX0303 จงเขียนโปรแกรมเพื่อหาค่าเฉลี่ย gpa ของนักศึกษา 10 คน
total = 0

for i in range(10):
  x = float(input('กรอกค่า gpa: '))
  total = total + x

print(f'ผลรวมคือ {total}')
print(f'ค่าเฉลี่ย gpa คือ {total/10}')

กรอกค่า gpa: 2.5
กรอกค่า gpa: 3.0
กรอกค่า gpa: 1.5
กรอกค่า gpa: 2.9
กรอกค่า gpa: 3.6
กรอกค่า gpa: 4.0
กรอกค่า gpa: 2.9
กรอกค่า gpa: 4.0
กรอกค่า gpa: 3.4
กรอกค่า gpa: 3.6
ผลรวมคือ 31.4
ค่าเฉลี่ย gpa คือ 3.1399999999999997

In [ ]:
total = 0

for i in range(5):
  x = int(input('กรอกค่า x: '))
  total = total + x

print(f'ผลรวมคือ {total}')

กรอกค่า x: 5
กรอกค่า x: 1
กรอกค่า x: 3
กรอกค่า x: 4
กรอกค่า x: 7
ผลรวมคือ 20

In [ ]:
total = 0
x = int(input('กรอกค่า x: '))
total = total + x
x = int(input('กรอกค่า x: '))
total = total + x
x = int(input('กรอกค่า x: '))
total = total + x
x = int(input('กรอกค่า x: '))
total = total + x
x = int(input('กรอกค่า x: '))
total = total + x
print('ผลรวมคือ '+str(total))

กรอกค่า x: 2
กรอกค่า x: 5
กรอกค่า x: 7
กรอกค่า x: 5
กรอกค่า x: 1
ผลรวมคือ 20

# Week04: 6 July 2022 (flowchart, psuedocode)

In [ ]:
A, B, C = 17, 4, 21
if A >= B:
  C = B + 1
  if C >= A:
    C += A - 2
  else:
    C = B * 3
if C >= A:
  A = ++C
  if A >= B:
    A = A - C
  else:
    C = B - C
else:
  if A == B:
    C = A - 7
  elif A > B:
    A = C * 2
  else:
    C = A % C
print(f'A = {A} B = {B} C = {C}')

A = 24 B = 4 C = 12

## (เฉลยการบ้าน)

In [ ]:
#EX0301 จงเขียนโปรแกรมเพื่อคำนวณหาความเร็วปลาย ของรถที่มีความเร็วต้น v0 แล้วใช้ความเร่ง a เป็นเวลา t วินาที
a, v0, t = eval(input())
vs = v0+a*t
print(vs)

5,10,20
110

# Week03: 29 June 2022 (Computing with Numbers)

In [ ]:
type(3)
type(5.5)
type(8//3)
print(8//3)
print(type(8//3))

2
<class 'int'>

In [ ]:
print(8/3)
print(type(8/3))

2.6666666666666665
<class 'float'>

In [ ]:
# รวมตังค์
print("โปรแกรมรวมตังค์")
print()
print("กรอกจำนวนเงินตามประเภท")
tens = int(input("มูลค่า 10 มีจำนวน: "))
twenties = int(input("แบงค์ 20 มีจำนวน: "))
fifties = int(input("แบงค์ 50 มีจำนวน: "))
hundreds = int(input("แบงค์ 100 มีจำนวน: "))
total = tens*10 + twenties*20 + fifties*50 + hundreds*100
print()
print("รวมมีเงินทั้งหมด ", total)

โปรแกรมรวมตังค์

กรอกจำนวนเงินตามประเภท
มูลค่า 10 มีจำนวน: 5
แบงค์ 20 มีจำนวน: 3
แบงค์ 50 มีจำนวน: 10
แบงค์ 100 มีจำนวน: 2

รวมมีเงินทั้งหมด  810

In [ ]:
import math

a = float(input('กรอกค่า a: '))
b = float(input('กรอกค่า b: '))
c = float(input('กรอกค่า c: '))
x1 = (-b + math.sqrt(b**2 - 4*a*c))/(2*a)
x2 = (-b - math.sqrt(b**2 - 4*a*c))/(2*a)
print('รากที่หนึ่งของสมการคือ '+str(x1))
print('รากที่สองของสมการคือ '+str(x2))

กรอกค่า a: 3
กรอกค่า b: 4
กรอกค่า c: -1
รากที่หนึ่งของสมการคือ 0.21525043702153024
รากที่สองของสมการคือ -1.5485837703548635

In [ ]:
import math

a, b, c = eval(input('กรอกค่า a, b, c: '))
x1 = (-b + math.sqrt(b**2 - 4*a*c))/(2*a)
x2 = (-b - math.sqrt(b**2 - 4*a*c))/(2*a)
print('รากที่หนึ่งของสมการคือ '+str(x1))
print('รากที่สองของสมการคือ '+str(x2))

กรอกค่า a, b, c: 3,4,-1
รากที่หนึ่งของสมการคือ 0.21525043702153024
รากที่สองของสมการคือ -1.5485837703548635

## (เฉลยการบ้าน)


[Problem 10](https://docs.google.com/document/d/123X8SGfmTS4tgXs-Z4FwyHbv5xu2UyAE_unJZ_zmb_Q/edit?usp=sharing)

```
```



[Problem 13](https://docs.google.com/document/d/123X8SGfmTS4tgXs-Z4FwyHbv5xu2UyAE_unJZ_zmb_Q/edit?usp=sharing)

In [ ]:
#ข้อ 1 จงหาค่าตัวแปร x, y, z จากโค้ดต่อไปนี้
x = 3
y = 2
z = x + 3
print(z)
y = (z/2) + x - 1
print(y)
x = 17 % y
print(x)

x = x + 1
print(x)
y = (x + 1) + 3
print(y)
x = 4

x += y
print(x)
y %= 2
print(y)
z /= 3
print(z)

6
5.0
2.0
3.0
7.0
11.0
1.0
2.0

In [ ]:
#ข้อ 2 จงจัดกลุ่มลำดับการทำงาน (เขียนเป็นผังต้นไม้)

In [ ]:
#ข้อ 3 จงแสดงวิธีหาค่า X
A=10
B=7
C=3
D=6
E=1
F=2

#3.1
X = A / F - C * B + E
print(X)
#3.2
X = B + C * E - F % A
print(X)
#3.3
X = E * B - D ** F % A
print(X)
#3.4
X = C % F + A + B // E
print(X)
#3.5
X = A - B * E / B % D
print(X)
#3.6
X = F // A - D ** E * D
print(X)
#3.7
X = A * D - B + B * D
print(X)
#3.8
X = D / E % A + F - D
print(X)
#3.9
X = E % A - B * C - A
print(X)
#3.10
X = B + F - B % E ** F
print(X)

-15.0
8
1
18
9.0
-36
95
2.0
-30
9

In [ ]:
#ข้อ 3 จงแสดงวิธีหาผลลัพธ์เมื่อกำหนดให้
A=7
B=3
C=2
D=9
#3.1
print(A < 5 or C > B)
#3.2
print(C == A and A < D)
#3.3
print(B <= 3 or D > A)
#3.4
print(A >= C + 9 and C > D - B)
#3.5
print(C != B or A < D)
#3.6
print(D < A - 7 or C < A % 9)
#3.7
print(C > D and C > A + 3)
#3.8
print(D <= C * B and D == A)
#3.9
print(A < B or A < C)
#3.10
print(B != D / A and A % B == C)

False
False
True
False
True
True
False
False
False
False

In [ ]:
#ข้อ 4 ให้แสดงวิธีจัดกลุ่มลำดับการทำงาน (เขียนแสดงในลักษณะผังต้นไม้)

In [ ]:
#ข้อ 5 จงหาค่าของตัวแปร X, Y, Z เมื่อโปรแกรมจบการทำงานต่อไปนี้
#ข้อ 5.1
A, B, C = 9, 2, 3
X = 5
Y = X % 3
Z = Y - C * 2
Y = X - 1
X = Z - Y
print(X, Y, Z)

-8 4 -4

In [ ]:
#ข้อ 5.2
A, B, C = 9, 2, 3
X = 2 * (B + A ** B)
Z = X / B - C
print(X, Z)

166 80.0

# 22-23 June 2022 งดเรียน

# Week02: 16 June 2022 (input, eval)

In [ ]:
#ไม่ได้เขียนโค้ด มี PPT Algorithms, Psuedocode

## (การบ้าน)

In [ ]:
#1.1 เกรดเฉลี่ยของนักศึกษา
#1.2 อายุของนักศึกษาระดับปริญญาตรี
#1.3 ชื่อของผู้ใช้งานระบบ
#1.4 เงินเดือนสะสมรายปีของพนักงาน
#1.5 รหัสบัตร ATM
#1.6 รหัสประจำตัวประชาชน 13 หลัก
#1.7 หมายเลขโทรศัพท์มือถือ 10 หลัก
#1.8 ผลสอบเข้ามหาวิทยาลัย (ผ่านกับไม่ผ่าน)
#1.9 พื้นที่ของวงกลม
#1.10 น้ำหนักของนักศึกษา

In [ ]:
#Problem 8.2 เขียนโปรแกรมหาพื้นที่ของสี่เหลี่ยมขนาด X*Y

Enter Width, Height of Rectangle: 10,15
พื้นที่ของสี่เหลี่ยม กว้าง 10 หน่วย ยาว 15 หน่วย คือ 150 ตารางหน่วย

In [ ]:
#EX02_02 จงเขียนโปรแกรมรับชุดข้อมูลตัวเลขในหนึ่งบรรทัดที่แต่ละตัวคั่นด้วย , แล้วหาค่าที่มากที่สุดในชุดข้อมูล

20,30,2,4
30

In [ ]:
#วัชรพล
a=eval(input())
print("ค่าที่มากที่สุดในชุดข้อมูล=",max(a))

1,2,3,4,5,6,7,8,9
ค่าที่มากที่สุดในชุดข้อมูล= 9

In [ ]:
#EX02_03 จงเขียนโปรแกรมรับชุดข้อมูลตัวเลขในหนึ่งบรรทัดที่แต่ละตัวคั่นด้วย , แล้วหาค่าเฉลี่ย

2,4,5,7
4.5

# Week02: 15 June 2022 (input, print)

In [ ]:
C = float(input('กรอกอุณหภูมิ(Celsius) '))
F = 9 * C / 5 + 32
print('อุณหภูมิ(Fahrenheit) '+str(F))

กรอกอุณหภูมิ(Celsius) 35
อุณหภูมิ(Fahrenheit) 95.0

In [ ]:
name = "ณัฏฐ์ ดิษเจริญ"
#print()
print('Your GPA is ', 3.44)
print('Hello, ', name, '. You are ', 2561 - 2540, ' years old.')
print(4, 5, 6, 7, 8, sep=' ', end='\n')
print(4, 5, 6, 7, 8, sep=' ')
print(4, 5, 6, 7, 8, sep=',', end='\n')
print(4, 5, 6, 7, 8, sep=',')
print(4, 5, 6, 7, 8, sep='', end='\n')
print(4, 5, 6, 7, 8, sep='', end='')
print('Result is ', 4, 5, 6, 7, 8, sep='', end='\n')

Your GPA is  3.44
Hello,  ณัฏฐ์ ดิษเจริญ . You are  21  years old.
4 5 6 7 8
4 5 6 7 8
4,5,6,7,8
4,5,6,7,8
45678
45678Result is 45678

In [ ]:
a = 5
b = 6
print(a+b)

11

In [ ]:
a, b, c, d = 9, 7, 4, 10
print(a, b)
print(a+b, end="***")
print(a*b+c/d)

9 7
16***63.4

In [ ]:
#a = input()
a, b, c = eval(   input()   )
print(a+b+c)

6,7,8
21

In [ ]:
a, b, c, d, e = eval(input("Enter values of a, b, c, d, e: "))
avg = (a+b+c+d+e)/5
print(f'                  Avg of {a},{b},{c},{d},{e} = {avg}')

Enter values of a, b, c, d, e: 1,3,9,2,6
                  Avg of 1,3,9,2,6 = 4.2

In [ ]:
a = list(eval(input()))

print(a)
print(sum(a))
print(len(a))

4,6,7,8,4,9
[4, 6, 7, 8, 4, 9]
38
6

## (การบ้าน)

In [ ]:
#ข้อ 1
x=int(input())
y=int(input())
print("x+y=",x+y)
print("x-y=",x-y)
print("x*y=",x*y)
print("x/y=",x/y)

12
11
x+y= 23
x-y= 1
x*y= 132
x/y= 1.0909090909090908

In [ ]:
m=int(input('กรอกปีเกิด'))
print('คุณอายุ',2565-m,'ปี')

กรอกปีเกิด2546
คุณอายุ 19 ปี

In [ ]:
m = 2565 - int(input('กรอกปีเกิด '))
print(m)

กรอกปีเกิด 2546
19

In [ ]:
x = int(input('กรอกปี พ.ศ. เกิดของท่าน '))
y = 543
print('คุณเกิดปี ค.ศ. ',x-y)

กรอกปี พ.ศ. เกิดของท่าน 2546
คุณเกิดปี ค.ศ.  2003

In [ ]:
x = int(input())-543
print(x)

2565
2022

In [ ]:
x = float(input('เกรดเฉลี่ยเทอมต้น   : '))
y = float(input('เกรดเฉลี่ยเทอมปลาย : '))
print('เกรดเฉลี่ยสะสม',(x+y)/2)

เกรดเฉลี่ยเทอมต้น   : 3.4
เกรดเฉลี่ยเทอมปลาย : 3.5
เกรดเฉลี่ยสะสม 3.45

# Week01: 9 June 2022 (print)

In [ ]:
print(2+3)

5

In [ ]:
print("2+3")

2+3

In [ ]:
print("2+3 = ", 2+3)

2+3 =  5

**Ex. **ให้เขียนโค้ดแสดงค่าต่อไปนี้

2x5+7/100-4

In [ ]:
print('ผลลัพธ์ของ 2x5+7/100-4 คือ ', 2*5+7/100-4)

ผลลัพธ์ของ 2x5+7/100-4 คือ  6.07

### Exercise 01.5 จงเขียนคำสั่งเพื่อแสดงผลลัพธ์ของสมการต่อไปนี้

In [ ]:
print((2**3)+9*7)

71

In [ ]:
print( (1/2)+(1/3)+(1/4)+(1/5) )

1.2833333333333332

In [ ]:
print( (3**2 - 4 * 1 * 2) ** 0.5 )

1.0

In [ ]:
print( ((4*3*7)**0.5) / (2*3)  )

1.5275252316519465

In [ ]:
print(bin(8))

0b1000

In [ ]:
type('ข้อความ')

str

In [ ]:
type(8000)

int

In [ ]:
type(10.5126446)

float

## การรับค่าข้อมูล

In [ ]:
a = input("กรอกชื่อ: ")
b = input('กรอกนามสกุล: ')
print('hello', a, b)
print('สวัสดี' + a + b)

กรอกชื่อ: ณัฏฐ์
กรอกนามสกุล: ดิษเจริญ
hello ณัฏฐ์ ดิษเจริญ
สวัสดีณัฏฐ์ดิษเจริญ

In [ ]:
#ฝึกตั้งชื่อตัวแปร
username = "nadh"
age = 50
x = 10.5
y = 10
z = 10
birthyear = 2530

In [ ]:
x = input()
print(type(x))
age = int(x)
print(type(age))

50
<class 'str'>
<class 'int'>

In [ ]:
age = int(  input('กรอกอายุ ')  )
print("คุณอายุ", age, " ปี")

กรอกอายุ 20
คุณอายุ 20  ปี

In [ ]:
gpa = float( input('กรอกเกรดเฉลี่ย') )
print("คุณได้เกรดเฉลี่ย", gpa)

กรอกเกรดเฉลี่ย3.50
คุณได้เกรดเฉลี่ย 3.5

In [ ]:
fname = input()
lname = input()
age = int(input())
gpa = float(input())
print(f' คุณชื่อ {fname} นามสกุล {lname} อายุ {age} ปี ได้เกรดเฉลี่ย {gpa}  ')

ณัฏฐ์
ดิษเจริญ
20
3.5
 คุณชื่อ ณัฏฐ์ นามสกุล ดิษเจริญ อายุ 20 ปี ได้เกรดเฉลี่ย 3.5

In [ ]:
x = int(input('กรอกตัวเลข (x) '))
y = int(input('กรอกอีกตัวเลข (y) '))
print('ค่า x + y คือ ', x+y)

กรอกตัวเลข (x) 6
กรอกอีกตัวเลข (y) 89
ค่า x + y คือ  95